<?xml version="1.0" encoding="UTF-8"?>
<Response>
    <Say language="en-gb" voice="$stringTool.getMessage('twilio.voice-gender')">$error</Say>
    <Say language="en-gb" voice="$stringTool.getMessage('twilio.voice-gender')">Please check your email for more information.</Say>
</Response>