<?xml version="1.0" encoding="UTF-8"?>
<Response>
    <Say language="en-gb" voice="$stringTool.getMessage('twilio.voice-gender')">Thank you for accepting this order with a
    #if($order.deliveryType == 'DELIVERY')
        delivery
    #else
        collection
    #end
    time of $DeliveryMinutes minutes.
    </Say>
</Response>