<?xml version="1.0" encoding="UTF-8"?>
<Response>
    <Gather action="$url" finishOnKey="#">
        #if($error)
            <Say language="en-gb">I'm sorry, I didn't understand that response</Say>
        #end

        #if($order.deliveryType == 'DELIVERY')
            <Say language="en-gb">You have an order for delivery to $stringTool.escape($order.deliveryAddress.summary) to be delivered
            #if($order.expectedDeliveryTime)
                at $order.expectedDeliveryTime.hourOfDay $order.expectedDeliveryTime.minuteOfHour
                #if(!($order.expectedDeliveryTime.toLocalDate() == $today))
                    on $order.expectedDeliveryTime.monthOfYear().getAsText($locale) $order.expectedDeliveryTime.dayOfMonth
                #end
            #else
                as soon as possible
            #end
            </Say>
        #else
            <Say language="en-gb">You have an order for collection
            #if($order.expectedCollectionTime)
                at $order.expectedCollectionTime.hourOfDay $order.expectedCollectionTime.minuteOfHour.
                #if(!$order.expectedCollectionTime.toLocalDate() == $today)
                    on $order.expectedCollectionTime.dayOfMonth of $order.expectedCollectionTime.monthOfYear().getAsText($locale)
                #end
            #else
                as soon as possible
            #end
            </Say>
        #end
        <Say language="en-gb">The order items are as follows.</Say>
        #foreach( $item in $order.orderItems )
            <Say language="en-gb">$item.quantity of
            #if( $item.menuItemNumber && $item.menuItemNumber != 0 )
                number $item.menuItemNumber
            #else
                $stringTool.escape($item.menuItemTitle)
            #end
            #if( $stringTool.hasText($item.menuItemTypeName ))
                $stringTool.escape($item.menuItemTypeName)
            #end
            #if( $stringTool.hasText($item.menuItemSubTypeName ))
                $stringTool.escape($item.menuItemSubTypeName)
            #end
            #if( $item.additionalItems.size() > 0 )
                with
                #foreach( $additionalItem in $item.additionalItems )
                    #if( $item.additionalItems.size() > 1 && $velocityCount == $item.additionalItems.size())
                        and
                    #end
                    $stringTool.escape($additionalItem)
                #end
            #end
            </Say>
        #end

        #foreach( $discount in $order.orderDiscounts )
            #if( $discount.discountType == 'DISCOUNT_FREE_ITEM' && $stringTool.hasText($discount.selectedFreeItem ))
                <Say language="en-gb">1 free $stringTool.escape($discount.selectedFreeItem)</Say>
            #end
        #end

        #if($stringTool.hasText($order.additionalInstructions))
            <Say language="en-gb">The customer has added the following instructions for this order.</Say>
            <Say>$stringTool.escape($order.additionalInstructions)</Say>
        #end
        <Say language="en-gb">To accept this order press 1 followed by the hash key, to reject this order press 2 followed by the hash key, to accept this
        order and specify the delivery time in minutes press 3 followed by the number of minutes then the hash key. To repeat this message
        press 4 followed by the hash key. If you do not want to accept or reject this order at this time press 5 followed by the hash key.</Say>
    </Gather>
</Response>