<?xml version="1.0" encoding="UTF-8"?>
<Response>
    <Gather action="$url" timeout="30" finishOnKey="#">
        <Say language="en-gb" voice="$stringTool.getMessage('twilio.voice-gender')">The order items are as follows.</Say>
        #foreach( $item in $order.orderItems )
            <Say language="en-gb" voice="$stringTool.getMessage('twilio.voice-gender')">$item.quantity of
                #if( $item.menuItemNumber && $item.menuItemNumber != 0 )
                    number $item.menuItemNumber
                #else
                    $stringTool.escapeXml($item.menuItemTitle)
                #end
                #if( $stringTool.hasText($item.menuItemTypeName ))
                    $stringTool.escapeXml($item.menuItemTypeName)
                #end
                #if( $stringTool.hasText($item.menuItemSubTypeName ))
                    $stringTool.escapeXml($item.menuItemSubTypeName)
                #end
                #if( $item.additionalItems.size() > 0 )
                    with
                    #foreach( $additionalItem in $item.additionalItems )
                        #if( $item.additionalItems.size() > 1 && $velocityCount == $item.additionalItems.size())
                            and
                        #end
                        $stringTool.escapeXml($additionalItem)
                    #end
                #end
            </Say>
        #end

        #foreach( $discount in $order.orderDiscounts )
            #if( $discount.discountType == 'DISCOUNT_FREE_ITEM' && $stringTool.hasText($discount.selectedFreeItem ))
                <Say language="en-gb" voice="$stringTool.getMessage('twilio.voice-gender')">1 free $stringTool.escapeXml($discount.selectedFreeItem)</Say>
            #end
        #end

        #if($stringTool.hasText($order.additionalInstructions))
            <Say language="en-gb" voice="$stringTool.getMessage('twilio.voice-gender')">The customer has added the following instructions for this order.</Say>
            <Say language="en-gb" voice="$stringTool.getMessage('twilio.voice-gender')">$stringTool.escapeXml($order.additionalInstructions)</Say>
        #end

        <Say language="en-gb" voice="$stringTool.getMessage('twilio.voice-gender')">
            To decline this order press 0 followed by the hash key.
            To repeat the order details press 1 followed by the hash key.
            To repeat the delivery details press 2 followed by the hash key.
            To accept this order press 3 followed by the hash key.
            To accept this order and specify the delivery time in minutes press 4 followed by the number of minutes then the hash key.
            To accept or decline this order from your email press 5.
        </Say>
    </Gather>
</Response>