@charset "utf-8";

.order-detail {
    font: 400 16px/18px myriad-pro-n4,myriad-pro;
    color:#444444;
}

.call-now-form-entry {
    margin-bottom: 12px;
}

.call-now-form-table {
    margin-top: 15px;
}

.call-now-form-label {
    font:14px/16px myriad-pro-n4,myriad-pro;
    color: #444444;
    padding-top:4px;
}

.call-now-form-field input, .call-now-form-field textarea {
    font: 14px/16px myriad-pro-n4,myriad-pro;
    width:260px;
    background-clip: padding-box;
    border: 1px solid #B6B6B6;
    padding: 3px 5px 3px 5px;
    color:#444444;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.call-now-form-field input:focus, .call-now-form-field textarea:focus {
    border: 1px solid #AA0000;
}

span.required {
    color:#AA0000;
    padding-left: 5px;
}

span.invalid {
    background: transparent url(../images/icons-shadowless/cross-circle.png) no-repeat bottom right;
    display:inline-block;
    padding-left:10px;
    width:16px;
    height:16px;
    cursor:pointer;
}

span.valid {
    background: transparent url(../images/icons-shadowless/tick-circle.png) no-repeat bottom right;
    display:inline-block;
    padding-left:10px;
    width:16px;
    height:16px;
    cursor:pointer;
    zoom: 1;
    *display: inline;
}

a.call-now-nav-button, a.call-now-nav-button:active, a.call-now-nav-button:hover {
    background-color: #50a747;
    border: 1px solid #333333;
    color: #FFFFFF;
    font: 14px MaiandraOTGD-DemiBold;
    padding: 2px 12px 3px 12px;
    margin-left:4px;
    text-align: center;
    vertical-align: baseline;
    text-decoration: none;
    text-shadow: 0 1px #333333;
    cursor: pointer;
}

a.call-now-nav-button:active, a.call-now-nav-button:hover {
    background-color: #2c8023;
}

.email-entry {
    margin:20px 0 20px 0;
}

.email-entry input {
    font: 14px/16px myriad-pro-n4,myriad-pro;
    width:460px;
    background-clip: padding-box;
    border: 1px solid #B6B6B6;
    padding: 3px 5px 3px 5px;
    color:#444444;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    border-radius: 3px;
}

.email-entry input:focus {
    border: 1px solid #AA0000;
}

.invalid-email {
    display:inline-block;
    font:400 14px/14px myriad-pro-n4,myriad-pro;
    color:#444444;
    border: 1px solid #b64242;
    background-color: #fffece;
    margin-top:5px;
    padding: 5px 10px 5px 10px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    zoom: 1;
    *display: inline;
}


.call-now-image {
    width: 290px;
    height: 285px;
    background-image: url(../images/order-confirmation.jpg);
}

.registration-detail {
    font:400 14px/16px myriad-pro-n4,myriad-pro;
    color:#444444;
}