@charset "utf-8";

#content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #B3B3B3;
}

.content-wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    margin: 0 auto;
    padding: 30px 0 60px 0;
    position: relative;
    text-align: left;
    min-height:500px;
    overflow: hidden;
    width: 1020px;
}

.content-left {
    padding: 0;
    float: left;
    width: 700px;
    margin: 0 40px 0 0;
}

.content-right {
    padding: 0;
    margin: 0;
    width: 280px;
    position:relative;
    float: left;
}

.header-tagline h1 {
    color: #333333;
    font:600 32px myriad-pro;
    font-style: normal;
    letter-spacing: -0.01em;
    margin-bottom: 30px;
}

.header-tagline h1 span.classy {
    color: #AA0000;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size:32px;
    letter-spacing: -0.01em;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
}