@charset "utf-8";

.dialog-container {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 10px;
}

.dialog-header {
    border-bottom: 1px dashed #AAAAAA;
    margin-bottom: 12px;
    padding-bottom:6px;
}

.dialog-header h2 {
    color: #BB0000;
    font-family: MaiandraOTGD-DemiBold;
    font-size:18px;
    line-height:22px;
    text-shadow: 0 1px #EEEEEE;
}

.dialog-subheader {
    font: 14px/16px myriad-pro-n4,myriad-pro;
    color: #444444;
    padding: 0 5px 12px 5px;
}

.dialog-content {
    font: 13px/15px prenton-n4,prenton;
    color: #444444;
    padding: 0 5px 0 5px;
}

.dialog-content-text {
    padding-bottom: 5px;
}

.dialog-footer {
    border-top: 1px dashed #AAAAAA;
    margin-top: 16px;
    padding-top: 6px;
}

.dialog-buttons {
    text-align:right;
    padding: 10px;
}

.dialog-warning-wrapper {
    font: 400 14px/16px myriad-pro-n4,myriad-pro;
    border: 1px solid #b64242;
    background-color: #fffece;
    color:#444444;
    margin-top: 6px;
    padding: 6px 10px 10px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}