@charset "utf-8";

.search-results-entry-wrapper {
    border-top: 1px dashed #AAAAAA;
}

.search-results-wrapper {
    margin: 0 30px 0 0;
    width: 730px;
}

.search-results-header-wrapper {
    border: 1px solid #AAAAAA;
    background-color:#FCFCFC;
    padding: 10px;
    margin: 0 0 30px 0;
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.search-results-header-wrapper h2 {
    font-family: MaiandraOTGD-DemiBold;
    font-size: 20px;
    color:#AA0000;
    margin-bottom: 15px;
}

.location-warning {
    font-family: pt-sans;
    border: 1px solid #b64242;
    background-color: #fffece;
    font-size: 12px;
    line-height: 16px;
    margin-top: 6px;
    margin-bottom: 10px;
    padding: 6px 10px 6px 10px;
}

.search-location-wrapper {
    background-color:#FFFFFF;
    padding: 8px 10px 8px 10px;
    border:1px solid #CCCCCC;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

.search-filters {
    margin-top: 10px;
    padding:0 10px 0 10px;
}

.search-cuisine-filter {
    font-family:pt-sans;
    font-size: 13px;
    color:#000000;
}

.search-location, .search-location-empty {
    font-family: pt-sans;
    font-size: 16px;
    line-height: 18px;
    font-weight:700;
    color:#444444;
    margin-bottom: 6px;
}

.search-location-edit {

}

#loc {
    font-family: "myriad-pro-semi-condensed",impact;
    font-size: 16px;
    line-height: 28px;
    color:#666666;
    height: 26px;
    padding: 2px 6px;
    border-radius: 4px 4px 4px 4px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    background-clip: padding-box;
    width: 400px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

#loc:focus {
    border: 1px solid #AA0000;
}

.search-location-results {
    font-family: pt-sans;
    font-size: 14px;
    color:#444444;
}

.search-checkbox {
    padding: 0;
    margin:0;
    font-family:pt-sans;
    font-size: 13px;
    font-weight:700;
    color:#666666;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
    margin-right:5px;
}

.search-select {
    padding: 0;
    margin:0;
    font-family:pt-sans;
    font-size: 13px;
    font-weight:700;
    letter-spacing: 0.02em;
    color:#444444;
    border:1px solid #AAAAAA;
    position: relative;
    *overflow: hidden;
    margin-left:5px;
}

.search-results-detail {
    font-family: pt-sans;
    font-size: 16px;
    color:#444444;
    padding: 8px 0 0 0;
}

.search-result-wrapper {
    border-bottom: 1px dashed #AAAAAA;
    padding: 20px 10px 20px 10px;
}

.search-result-wrapper h2 {
    color: #AA0000;
    font: 18px/20px MaiandraOTGD-DemiBold;
    margin-bottom:2px;
}

.search-result-center {
    padding: 0 10px 0 10px;
}

.address-details {
    font: 12px/14px pt-sans;
    color:#444444;
    margin-bottom: 4px;
}

.menu-link {
    display:block;
    height: 35px;
}

.restaurant-opening-details {
    display:inline-block;
    border: 1px solid #CCCCCC;
    padding: 4px 12px 4px 8px;
    margin-top: 10px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

.opening-details {
    font: 11px/14px pt-sans;
    min-height:16px;
    background: url(../images/icons-shadowless/clock.png) 0 0 no-repeat;
    color:#444444;
    margin: 0 0 0 2px;
    padding: 0 0 0 24px;
}

.delivery-details {
    font: 11px/14px pt-sans;
    min-height:16px;
    background: url(../images/moped.png) 0 1px no-repeat;
    color:#444444;
    margin-top: 4px;
    padding: 0 0 0 26px;
}

.restaurant-discount-details {
    border: 1px dashed #cf6e6e;
    padding: 4px 12px 4px 8px;
    margin-right: 10px;
    -moz-box-shadow: 2px 2px 2px rgba(80,80,80,0.2);
    -webkit-box-shadow: 2px 2px 2px rgba(80,80,80,0.2);
    box-shadow: 2px 2px 2px rgba(80,80,80,0.2);
    position:relative;
}

.scissors {
    width: 16px;
    height: 16px;
    background:url(../images/scissors.png) 0 0 no-repeat;
    position:absolute;
    top:-8px;
    right: 2px;
    z-index:100;
}

.discount-details {
    font: 11px/14px pt-sans;
    font-weight:bold;
    min-height:16px;
    color:#444444;
}

.cuisine-summary {
    font: 14px/16px pt-sans;
    font-weight:700;
    color:#444444;
}

.search-results-right {
    padding: 0;
    margin: 0;
    width: 260px;
    position:relative;
}

element.style {
    opacity: 0;
    width: 100px;
}

div.selector select {
    border: 0 none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 23px;
    margin: 0;
    min-width: 15px;
    padding: 0 40px 0 0;
    position: relative;
    width: 100%;
}

.restsSortingSelect {
    height: 26px;
    padding: 0 !important;
    width: 176px !important;
}

a.search-result-button, a.search-result-button:active, a.search-result-button:hover {
    display:inline-block;
    width: 122px;
    background: transparent url(../images/button.png) no-repeat 0 0;
    color: #FFFFFF;
    font: 16px MaiandraOTGD-DemiBold;
    font-weight:normal;
    text-align: center;
    height:29px;
    padding-top: 3px;
    text-decoration: none;
    text-shadow: 0 1px #333333;
    cursor: pointer;
}

a.location-button {
    color:#AA0000;
    font-family: pt-sans;
    font-weight: 700;
    font-size: 12px;
    text-decoration:underline;
    cursor:pointer;
}

.pac-container:after {
    content: none;
}

div.pac-item {
    font-family: "myriad-pro-semi-condensed",impact;
    font-size: 18px;
    line-height: 20px;
    padding: 2px 5px 2px 5px;
    color:#666666;
}

div.pac-selected, div.pac-item:hover {
    background-color:#AA0000;
    color:#FFFFFF;
}
