@charset "utf-8";

.cuisine-wrapper {
    margin-left:10px;
    width: 128px;
    padding: 10px;
    border: 1px solid #AAAAAA;
    background-color:#FCFCFC;
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.cuisine-wrapper h2 {
    text-align:left;
    font-family: myriad-pro-semi-condensed;
    font-size: 18px;
    color:#444444;
    letter-spacing: -0.01em;
    border-bottom: 1px dashed #AAAAAA;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.cuisine-wrapper-description {
    font-family: pt-sans;
    font-size: 12px;
    color:#444444;
    padding: 0 5px 0 5px;
}

.cuisine-entry-wrapper {
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    margin-top: 10px;
    padding: 6px 5px 6px 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.cuisine-entry {
    padding: 5px 5px 5px 5px;
    font-family: MaiandraOTGD-DemiBold;
    font-size: 14px;
    color:#444444;
}

.search-results-entry-wrapper {
    border-top: 1px dashed #AAAAAA;
}

.search-results-wrapper {
    margin: 0 30px 0 0;
    width: 730px;
}

.search-results-header-wrapper {
    padding: 10px;
    margin: 0 0 30px 0;
}

.search-results-header-wrapper h2 {
    font-family: pt-sans;
    color:#444444;
    font-size: 16px;
}

.search-results-warning {
    font-family: pt-sans;
    border: 1px solid #b64242;
    background-color: #fffece;
    font-size: 12px;
    line-height: 16px;
    margin-top: 6px;
    padding: 6px 10px 6px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.search-results-detail {
    font-family: pt-sans;
    font-size: 16px;
    color:#444444;
    padding: 8px 0 0 0;
}

.search-result-wrapper {
    border-bottom: 1px dashed #AAAAAA;
    padding: 20px 0 20px 0;
}

.search-result-wrapper h2 {
    color: #AA0000;
    font: 18px/20px MaiandraOTGD-DemiBold;
    margin-bottom:2px;
}

.search-result-center {
    padding: 0 10px 0 10px;
}

.address-details {
    font: 12px/14px pt-sans;
    color:#444444;
    margin-bottom: 4px;
}

.menu-link {
    display:block;
    height: 35px;
}

.restaurant-opening-details {
    display:inline-block;
    border: 1px solid #CCCCCC;
    padding: 4px 12px 4px 8px;
    margin-top: 10px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

.opening-details {
    font: 11px/14px pt-sans;
    min-height:16px;
    background: url(../images/icons-shadowless/clock.png) 0 0 no-repeat;
    color:#444444;
    margin: 0 0 0 2px;
    padding: 0 0 0 24px;
}

.delivery-details {
    font: 11px/14px pt-sans;
    min-height:16px;
    background: url(../images/moped.png) 0 1px no-repeat;
    color:#444444;
    margin-top: 4px;
    padding: 0 0 0 26px;
}

.restaurant-discount-details {
    border: 1px dashed #cf6e6e;
    padding: 4px 12px 4px 8px;
    margin-right: 10px;
    -moz-box-shadow: 2px 2px 2px rgba(80,80,80,0.2);
    -webkit-box-shadow: 2px 2px 2px rgba(80,80,80,0.2);
    box-shadow: 2px 2px 2px rgba(80,80,80,0.2);
    position:relative;
}

.scissors {
    width: 16px;
    height: 16px;
    background:url(../images/scissors.png) 0 0 no-repeat;
    position:absolute;
    top:-8px;
    right: 2px;
    z-index:100;
}

.discount-details {
    font: 11px/14px pt-sans;
    font-weight:bold;
    min-height:16px;
    color:#444444;
}

.cuisine-summary {
    font: 14px/16px pt-sans;
    font-weight:700;
    color:#444444;
}

.search-results-right {
    padding: 0;
    margin: 0;
    width: 260px;
    position:relative;
}

element.style {
    opacity: 0;
    width: 100px;
}

div.selector select {
    border: 0 none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 23px;
    margin: 0;
    min-width: 15px;
    padding: 0 40px 0 0;
    position: relative;
    width: 100%;
}

.restsSortingSelect {
    height: 26px;
    padding: 0 !important;
    width: 176px !important;
}

a.search-result-button, a.search-result-button:active, a.search-result-button:hover {
    display:inline-block;
    width: 122px;
    background: transparent url(../images/button.png) no-repeat 0 0;
    color: #FFFFFF;
    font: 16px MaiandraOTGD-DemiBold;
    font-weight:normal;
    text-align: center;
    height:29px;
    padding-top: 3px;
    text-decoration: none;
    text-shadow: 0 1px #333333;
    cursor: pointer;
}
