@charset "utf-8";

#footer {
    clear: both;
    color: #837954;
    border-top: 1px solid #b29a5a;
}

.footer-wrapper {
    clear: both;
    margin: 0 auto;
    padding: 40px 0 80px;
    position: relative;
    text-align: left;
    width: 1020px;
}

.footer-contact {
    clear: both;
    font-family: MaiandraOTGD-DemiBold;
    padding-bottom: 40px;
}

h4.footer {
    font: 18px MaiandraOTGD-DemiBold;
    color:#837954;
}

.footer-contact ul {
    font: 500 16px/18px prenton;
}




