@charset "utf-8";

.footer-wrapper {
    text-align:left;
    clear: both;
    color:#E6E6E6;
    margin: 0 auto;
    padding: 0px 0px 30px 0px;
    position: relative;
}

.company-details {
    padding-right:60px;
}

.footer-h1 {
    font-family: "prenton-n5", "prenton";
    font-weight:500;
    font-size:16px;
    color:#F3F3F3;
    padding:0;
    margin-bottom:6px;
}

.h1-small {
    font-size:18px;
    color:#E6E6E6;
}

h1.footer, h2.footer {
    font-family: "prenton-n5", "prenton";
    font-weight:500;
    font-size:16px;
    color:#F3F3F3;
    padding:0;
    margin-bottom:6px;
}

.h2-bright {
    color:#A39974;
}

h2.spacer {
    padding-top:15px;
}


h3.footer {
    font: 16px MaiandraOTGD-DemiBold;
    color:#E6E6E6;
    padding:0;
    margin-bottom:10px;
}

.footer-list {
    font:400 14px/16px myriad-pro;
}

.footer-list p {
    padding-bottom: 5px;
}

p.locationlink {
    padding-bottom:3px;
}

.cuisineLocation {
    margin-bottom:15px;
}

a.direct, a.direct:visited, a.direct:hover, a.direct:active {
    font-family:"myriad-pro-n4", "myriad-pro";
    font-weight:400;
    font-size:13px;
    line-height:15px;
    color:#E6E6E6;
    text-decoration:none;
    cursor:pointer;
}

h4.footer {
    font: 18px MaiandraOTGD-DemiBold;
    color:#E6E6E6;
}

.footer-contact ul {
    font: 500 16px/18px prenton;
}

.footer-wrapper p {
    font-family:"myriad-pro-n4", "myriad-pro";
    font-weight:400;
    font-size:13px;
    line-height:15px;
    color:#E6E6E6;
}

.bolder {
    font-weight:700;
}

.credit-cards {
    margin:20px 0 20px 0;
}

div.credit-card {
    display:inline-block;
    width:39px;
    height:27px;
    margin-right:6px;
    zoom: 1;
    *display: inline;
}

.visa {
    background: url(../images/checkout-sprites.png) no-repeat scroll -42px -360px transparent;
}

.mastercard {
    background: url(../images/checkout-sprites.png) no-repeat scroll -42px -200px transparent;
}

.maestro {
    background: url(../images/checkout-sprites.png) no-repeat scroll -42px -160px transparent;
}

.amex {
    background: url(../images/checkout-sprites.png) no-repeat scroll -42px 0px transparent;
}

.copyright {
    font-family:"myriad-pro-n4", "myriad-pro";
    font-weight:400;
    font-size:12px;
    line-height:14px;
    color:#FFFFFF;
}

.icon-email {
    display:inline-block;
    background: url(../images/icon-email.png) 0 5px no-repeat;
    padding-left:22px;

}