@charset "utf-8";

#footer {
    clear: both;
    color: #837954;
    border-top: 1px solid #b29a5a;
}

.footer-wrapper {
    clear: both;
    margin: 0 auto;
    padding: 25px 0 20px 0;
    position: relative;
    text-align: left;
    width: 1020px;
}

.footer-contact {
    clear: both;
    font-family: MaiandraOTGD-DemiBold;
    padding-bottom: 40px;
}

h3.footer {
    font: 16px MaiandraOTGD-DemiBold;
    color:#837954;
    padding:0;
    margin-bottom:10px;
}

.location-list {
    font:400 14px/16px myriad-pro;
}

.location-list p {
    padding-bottom: 5px;
}

a.location, a.location:visited, a.location:hover, a.location:active {
    color:#837954;
    text-decoration:none;
    cursor:pointer;
}

h4.footer {
    font: 18px MaiandraOTGD-DemiBold;
    color:#837954;
}

.footer-contact ul {
    font: 500 16px/18px prenton;
}




