@charset "utf-8";

#header {
    background: none repeat scroll 0 0 #FFFFFF;
}

.header-wrapper {
    clear: both;
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 1020px;
}

.header-banner {
    background: url(../images/butler.png) no-repeat scroll 0 0 #AA0000;
    height:115px;
    border: 1px solid #990000;
    border-bottom: 1px solid #CC0000;
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

.header-company {
    font-family: "peachy-keen",impact;
    font-size:28px;
    line-height:28px
    height:40px;
    text-align:right;
    margin: 70px 30px;
    color:#FFFFFF;
    text-shadow: 0 2px #333333;
    text-transform: uppercase;
}

.navigation-wrapper {
    background-image: linear-gradient(bottom, rgb(51,51,51) 0%, rgb(85,85,85) 100%);
    background-image: -o-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(85,85,85) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(85,85,85) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(85,85,85) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(51,51,51) 0%, rgb(85,85,85) 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(51,51,51)),
        color-stop(1, rgb(85,85,85))
    );
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    height:28px;
}

.navigation-links {
    padding-top: 6px;
    padding-left: 25px;
    clear:both;
}

ul, ol {
    list-style:none outside none;
}

li {
    color: #999999;
    font-family: arial, "pt-sans",'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    font-size: 12px;
    font-weight: 700;
    display:inline;
    float:left;
    padding-right:15px;
}

li.active {
    color:#FFFFFF;
}


.arrow {
    font-weight: 700;
}

.navigation-links a, .navigation-links a:visited, .navigation-links a:active, .navigation-links a:hover {
    color: #999999;
    text-decoration:none;
    cursor:pointer;
}

.navigation-links a:active, .navigation-links a:hover {
   color:#FFFFFF;
   text-decoration:underline;
}
