@charset "utf-8";

#header {
}

.header-wrapper {
    clear: both;
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 1020px;
}

.header-banner {
    background-image: url(../images/pattern.jpg);
    background-repeat: repeat;
    height:85px;
    border:0;
    border-bottom:1px solid #990000;
    position:relative;
}

.header-company {
    background:none;
    font:32px/32px MaiandraOTGD-DemiBold;
    color:#FFFFFF;
    text-shadow: 0 2px #333333;
    text-transform: uppercase;
    position:absolute;
    bottom: 25px;
    left: 20px;
}

.header-company-small {
    font:24px/24px MaiandraOTGD-DemiBold;
    color:#e5a38d;
    padding: 0 1px 0 1px;
}

.header-tagline {
    font: 14px/16px MaiandraOTGD-DemiBold;
    color:#E9E9E9;
    text-shadow: 0 2px #333333;
    position:absolute;
    bottom: 26px;
    left: 20px;
}

.help-links {
    position:absolute;
    right:20px;
    top:15px;
}

.help-link-wrapper {
    background-color:#A4A5AB;
    display:inline-block;
    padding:1px;
    margin-left:5px;
    -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
       -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
            box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    zoom: 1;
    *display: inline;
}

.help-link-content {
    background-color:#FCFBF5;
    padding:5px 10px;
    color:#990000;
    font:14px MaiandraOTGD-DemiBold;
    cursor:pointer;
    -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
}

.navigation-wrapper {
    background-color: none;
    background: url(../images/nav-background.png) 0 0 no-repeat transparent;
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    height:28px;
    -webkit-border-bottom-left-radius: 15px;
       -moz-border-bottom-left-radius: 10px;
            border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
       -moz-border-bottom-right-radius: 10px;
            border-bottom-right-radius: 10px;
}

.navigation-links {
    padding: 11px 0 6px 0;
    overflow:hidden;
    color: #FFFFFF;
    font:12px MaiandraOTGD-DemiBold;
    text-shadow: 0 2px #333333;
    font-weight:500;
    text-transform:uppercase;
}

.navigation-links a, .navigation-links a:visited, .navigation-links a:active, .navigation-links a:hover {
    color: #FFFFFF;
    text-decoration:none;
    cursor:pointer;
}

.navigation-links li.active a, .navigation-links li.active a:visited, .navigation-links li.active a:active, .navigation-links li.active a:hover {
    color: #FFFFFF;
}


.navigation-links a:active, .navigation-links a:hover {
   color:#FFFFFF;
   text-decoration:underline;
}
