@charset "utf-8";

#header {
    background: none repeat scroll 0 0 #FFFFFF;
}

.header-wrapper {
    background-color:#FFFFFF;
    clear: both;
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 1020px;
}

.header-banner {
    background-image: url(../images/pattern.jpg);
    background-repeat: repeat;
    height:105px;
    border:0;
    position:relative;
}

.header-company {
    background:none;
    font:40px/40px MaiandraOTGD-DemiBold;
    color:#FFFFFF;
    text-shadow: 0 2px #333333;
    text-transform: uppercase;
    position:absolute;
    bottom: 35px;
    left: 20px;
}

.header-company-small {
    font:32px/32px MaiandraOTGD-DemiBold;
    color:#e5a38d;
    padding: 0 1px 0 1px;
}

.header-tagline {
    font: 14px/16px MaiandraOTGD-DemiBold;
    color:#E9E9E9;
    text-shadow: 0 2px #333333;
    position:absolute;
    bottom: 26px;
    left: 20px;
}

.help-links {
    position:absolute;
    right:20px;
    top:15px;
}

.help-link-wrapper {
    background-color:#A4A5AB;
    display:inline-block;
    padding:1px;
    margin-left:5px;
    -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
       -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
            box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.help-link-content {
    background-color:#FCFBF5;
    padding:5px 10px;
    color:#990000;
    font:14px MaiandraOTGD-DemiBold;
    cursor:pointer;
    -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
}

.navigation-wrapper {
    background-color: none;
    background: url(../images/nav-background.png) 0 0 repeat-x;
    -moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 3px rgba(0,0,0,0.5);
    height:28px;
    -webkit-border-bottom-left-radius: 15px;
       -moz-border-bottom-left-radius: 10px;
            border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
       -moz-border-bottom-right-radius: 10px;
            border-bottom-right-radius: 10px;
}

.navigation-links {
    padding-top: 5px;
    padding-left: 25px;
    clear:both;
}

.navigation-wrapper ul {
    list-style:none outside none;
}

.navigation-wrapper li {
    color: #999999;
    font-family: prenton;
    font-size: 13px;
    font-weight:500;
    display:inline;
    float:left;
    padding-right:15px;
}

.navigation-wrapper li.active {
    color:#FFFFFF;
}

.arrow {
    font-weight: 700;
}

.navigation-links a, .navigation-links a:visited, .navigation-links a:active, .navigation-links a:hover {
    color: #999999;
    text-decoration:none;
    cursor:pointer;
}

.navigation-links li.active a, .navigation-links li.active a:visited, .navigation-links li.active a:active, .navigation-links li.active a:hover {
    color: #FFFFFF;
}


.navigation-links a:active, .navigation-links a:hover {
   color:#FFFFFF;
   text-decoration:underline;
}
