@charset "utf-8";

.hero-border {
    width:20%;
    text-align:center;
    margin:0px auto 15px auto;
    height:50px;
    border-bottom:1px solid #EEEEEE;
}

.hero-banner-upper {
    font:28px/28px MaiandraOTGD-DemiBold;
    color:#CC0000;
    text-align:center;
    padding:30px 0 20px 0;
    text-shadow: 1px 1px 2px #EEEEEE;
    text-transform:uppercase;
}

#bannercarouselwrapper {
    position:absolute;
    top:91px;
    right:40px;
}

#bannercarousel {
}

.searchbarheader {
    font: 14px/14px MaiandraOTGD-DemiBold;
    color:#FFFFFF;
    text-shadow: 0 2px #333333;
    padding:7px 0 10px 0;
}

.searchbartext {
    font: 500 12px/14px "prenton-n5","prenton";
    color:#FFFFFF;
    text-shadow: 0 2px #333333;
    padding:8px 0 10px 0;
}

#butler {
    position:absolute;
    top:145px;
    left:30px;
    height:180px;
    width:116px;
    z-index:1000;
    background:url(../images/food/butler.png) 0 0 no-repeat transparent;
}

#speechbubble {
    background-color:#FFFFFF;
    position:absolute;
    top:105px;
    width:235px;
    left:125px;
    height:148px;
    background:url(../images/food/speechbubble.png) 0 0 no-repeat transparent;
}

#speech1, #speech2, #speech3 {
    padding:15px 15px 15px 51px;
    color:#DD0000;
    font:16px/18px MaiandraOTGD-DemiBold;
    text-shadow: 1px 1px 2px #EEEEEE;
}

.inactive {
    display:none;
}

#searchbar {
    position:absolute;
    top:285px;
    left:-15px;
    height:142px;
    width:1070px;
    z-index:100;
    padding:0;
    clear:both;
    background:url(../images/food/ribbon.png) 0 0 no-repeat transparent;
}

#searchbarleft {
    margin:38px 0 0 130px;
    float:left;
    width:400px;
}

#searchbarright {
    margin:24px 80px 0 0;
    padding-top:10px;
    float:right;
    width:400px;
}

.searchbarinfo {
    font:14px/22px MaiandraOTGD-DemiBold;
    color:#FFFFFF;
    text-shadow: 0 2px #333333;
    text-transform:uppercase;
}

.rounded-img-wrapper {
    position:relative;
    padding: 2px 20px 2px 20px;
}

.rounded-img {
	border: 5px solid #FFFFFF;
	width:240px;
	height:160px;
	overflow: hidden;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
       -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
            box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.rounded-img-ribbon {
    font: 14px/14px MaiandraOTGD-DemiBold;
    background:url(../images/food/ribbon-small.png) 0 0 no-repeat transparent;
    color:#FFFFFF;
    text-shadow: 1px 1px 2px #333333;
    position:absolute;
    top:10px;
    right:13px;
    width:150px;
    height:16px;
    padding: 9px 0 3px 30px;
}

.searchbar {
    text-align:center;
    width:410px;
    height:46px;
    padding:6px;
    background-color:#F4F4F4;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
       -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
            box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

input.location {
    font:14px/16px "myriad-pro-n4", "myriad-pro";
    color:#666666;
    height: 36px;
    padding: 4px 6px;
    border-radius: 4px 4px 4px 4px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    background-clip: padding-box;
    width: 290px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

input.location:focus {
    border: 1px solid #CCCCCC;
}

img.rounded-img-small {
    border:1px solid #BBBBBB;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
    -webkit-box-shadow: 0px 1px 0px rgba(80,80,80,0.25);
       -moz-box-shadow: 0px 1px 0px rgba(80,80,80,0.25);
            box-shadow: 0px 1px 0px rgba(80,80,80,0.25);
}

.search-button {
    background:url(../images/search-button-back.png) 0 0 repeat-x transparent;
    margin-left:8px;
    width:96px;
    height:46px;
    text-align:center;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    cursor:pointer;
}

.search-button-text {
    font:12px/12px MaiandraOTGD-DemiBold;
    color:#FFFFFF;
    text-shadow: 0 2px #333333;
    text-align:center;
    text-transform:uppercase;
    padding-top:17px;
}

.main-content {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0px auto 0px auto;
    width: 1020px;
    padding: 20px 0 10px 0;
    clear: both;
}

.butler-main {
    clear: both;
    margin: 20px auto 20px auto;
    position: relative;
    width: 1020px;
    height: 250px;
    background: transparent url(../images/butler-home-alt.png) 0 0 no-repeat;
}

#searchbar-wrapper {
    position:absolute;
    right: 160px;
    top: 40px;
    width: 550px;
}

.searchbar-content {
    padding:10px 5px 10px 5px;
}

.searchbar-location {
    font:16px/16px MaiandraOTGD-DemiBold;
    color:#FFFFFF;
    text-shadow: 0 2px #333333;
    padding-bottom:7px;
}

.search-location-form {
    height: 30px;
    position:relative;
}

.location-input {
}

.location-button {
    background: url(../images/button-grey.png) 0 0 no-repeat;
    width: 68px;
    height: 32px;
    position:absolute;
    top:0;
    left:390px;
    padding-top:4px;
    text-align:center;
    cursor:pointer;
}

a.search {
    font: 16px MaiandraOTGD-DemiBold;
    color:#c5171e;
}


#search-warning {
    display:none;
    margin-top:15px;
    width:320px;
    font:14px/16px "myriad-pro-n4", "myriad-pro";
    color:#444444;
    border:1px solid #666666;
    padding:5px 10px;
    background-color: #fffece;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

input.watermark {
    color:#999999;
}

a.home {
    color:#FFFFFF;
    text-decoration:underline;
    cursor:pointer;
}

.promotions {
    margin:25px 0 20px 0;
    clear:both;
    overflow:hidden;
}

.promotions-box {
    border:2px solid #DDDDDD;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    position:relative;
    min-height:150px;
}

.promotions-content {
    padding:15px;
}

.image-magazine {
    background:url(../images/magazine.png) 15px 47px no-repeat #FFFFE3;
}

.image-ham {
    background:url(../images/ham.png) 15px 15px no-repeat #FFFFE3;
}

.promotions-content h2 {
    font:20px/20px MaiandraOTGD-DemiBold;
    color:#AA0000;
    padding-bottom:10px;
}

.promotions-text {
    font:400 15px/18px "prenton-n4", "prenton";
    color:#837954;
    padding-bottom:12px;
}

.box-left {
    width:640px;
    float:left;
}

.box-right {
    width:340px;
    float:right;
}

.box-large-middle {
    background-color:#FDFDFD;
    border:2px solid #DDDDDD;
    padding:45px 20px 30px 20px;
    margin:60px 0 70px 0;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    position:relative;
    text-align:center;
    clear:both;
}

.box-large-bottom {
    background-color:#FDFDFD;
    border:2px solid #DDDDDD;
    padding:40px 20px 0 20px;
    margin:0 0 50px 0;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    position:relative;
    text-align:center;
}

.caption {
    font:700 14px/16px "myriad-pro-n7", "myriad-pro";
    color: #FFFFFF;
	background:#c5171e;
    text-shadow: 0 2px #333333;
    text-align:left;
    display:inline-block;
    padding:5px 15px 5px 15px;
    position:absolute;
    left:15px;
    top:-17px;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#c5171e), to(#720d11));
	background:-moz-linear-gradient(#c5171e, #720d11);
	background:-o-linear-gradient(#c5171e, #720d11);
	background:linear-gradient(#c5171e, #720d11);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
       -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
            box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

img.rounded-img {
    border:1px solid #CFCFCF;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
    -webkit-box-shadow: 1px 1px 2px rgba(80,80,80,0.2);
       -moz-box-shadow: 1px 1px 2px rgba(80,80,80,0.2);
            box-shadow: 1px 1px 2px rgba(80,80,80,0.2);
}

.recommendations {
    margin:15px 0 25px 10px;
}

#carousel {
    width:904px;
    margin:0 auto 0 auto;
    padding:0;
    text-align:left;
}

#carousel ul {
    list-style:none;
}

.divider {
    border-top:1px dashed #CCCCCC;
    padding-top:18px;
}

.restaurant-link {
    cursor:pointer;
}

.restaurant-panel-left, .restaurant-panel-right, .restaurant-panel-center {
    display:inline-block;
    position:relative;
    height:100px;
    width:280px;
    cursor:pointer;
}

.restaurant-panel-hover {
    background-color: #FAFAFA;
}

.restaurant-panel-center {
    margin:0 28px 0 28px;
}

.restaurant-name {
    padding:13px 0 2px 0;
    font: 16px/16px MaiandraOTGD-DemiBold;
    color:#CC0000;
    text-shadow: 1px 1px 2px #EEEEEE;
}

.restaurant-summary {
    font:700 12px/14px "prenton-n7", "prenton";
    color:#444444;
}

.opening-details {
    text-align:left;
    font: 12px/14px "myriad-pro-n4", "myriad-pro";
    color:#444444;
    margin-top: 3px;
}

.restaurant-discount-details {
    position:absolute;
    top:6px;
    right:15px;
    background-color:#FFFFFF;
    display:inline-block;
    border: 1px dashed #cf6e6e;
    padding: 2px;
    text-align:left;
    zoom: 1;
    *display: inline;
}

.restaurant-discount-details-inner {
    padding: 1px 14px 1px 6px;
    background-color:#CC0000;
}

.scissors {
    width: 16px;
    height: 16px;
    background:url(../images/scissors.png) 0 0 no-repeat;
    position:absolute;
    top:-8px;
    right: 2px;
    z-index:100;
}

.discount-details {
    display:inline-block;
    font: 500 12px/14px prenton-n5,prenton;
    color:#FFFFFF;
    text-shadow: 1px 1px 2px #555555;
    min-height:16px;
    text-align:left;
    zoom: 1;
    *display: inline;
}

a.blank, a.blank:visited, a.blank:hover, a.blank:active {
    color:#AA0000;
    text-decoration:none;
    cursor:pointer;
}

a.location, a.location:visited, a.location:hover, a.location:active {
    color:#FFFFFF;
    text-decoration:underline;
}

.help {
    margin:0;
}

.help h2 {
    font: 16px MaiandraOTGD-DemiBold;
    color:#AA0000;
    margin:0 0 20px 0;
}

.step {
    width: 210px;
    height: 175px;
    border: 1px solid #CCCCCC;
    background-color:#FFFFFF;
    position:relative;
    text-align:center;
	-webkit-border-radius:10px;
  	   -moz-border-radius:10px;
	        border-radius:10px;
}

.step-number {
    position:absolute;
    top:15px;
    left:20px;
    font: 20px MaiandraOTGD-DemiBold;
    color:#AA0000;
}

.step-detail {
    position:absolute;
    bottom:20px;
    left:20px;
    width:170px;
    text-align:center;
    font:700 12px/14px "prenton-n7", "prenton";
    color:#444444;
}

.step-1 {
    background: url(../images/help/step-1.png) center top no-repeat #FFFFFF;
}

.step-2 {
    background: url(../images/help/step-2.png) center top no-repeat #FFFFFF;
}

.step-3 {
    background: url(../images/help/step-3.png) center top no-repeat #FFFFFF;
}

.step-4 {
    background: url(../images/help/step-4.png) center top no-repeat #FFFFFF;
}

.triangle-right {
	position:relative;
	padding:8px 20px 8px 20px;
	color:#fff;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
       -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
            box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	-webkit-border-radius:20px;
  	   -moz-border-radius:20px;
	        border-radius:20px;
}

.triangle-right.left {
	margin-left:40px;
	background:#c5171e; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#c5171e), to(#720d11));
	background:-moz-linear-gradient(#c5171e, #720d11);
	background:-o-linear-gradient(#c5171e, #720d11);
	background:linear-gradient(#c5171e, #720d11);
}


.triangle-right.left:after {
	top:20px;
	left:-40px; /* value = - border-left-width - border-right-width */
	bottom:auto;
	border-width:15px 40px 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #b1151b;
}

