@charset "utf-8";

.main-content {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0px auto 0px auto;
    width: 1020px;
    padding: 20px 0 10px 0;
    clear: both;
}

.butler-main {
    clear: both;
    margin: 20px auto 0px auto;
    position: relative;
    width: 1020px;
    height: 380px;
    background: url(../images/butler-home-alt.png) 0 0 no-repeat #FFFFFF;
}

.searchbar-wrapper {
    position:absolute;
    right: 205px;
    top: 58px;
    width: 310px;
}

.searchbar-location {
    font:16px/16px MaiandraOTGD-DemiBold;
    color:#FFFFFF;
    text-shadow: 0 2px #333333;
    padding-bottom:7px;
}

.search-location-form {
    width: 310px;
    height: 30px;
    position:relative;
}

.location-input {
    width: 280px;
    height: 32px;
    position:absolute;
    top: 0px;
    left: 0px;
}

.location-button {
    background: url(../images/button-grey.png) 0 0 no-repeat;
    width: 68px;
    height: 32px;
    padding-top:4px;
    position:absolute;
    top: 0px;
    left: 272px;
    position:relative;
    text-align:center;
    cursor:pointer;
}

a.search {
    font: 16px MaiandraOTGD-DemiBold;
    color:#c5171e;
}


.location-direct {
    font: 500 12px/14px prenton;
    color:#FFFFFF;
    text-shadow: 0 2px #333333;
    padding-top: 7px;
    width:264px;
    text-align:left;
}

input.location {
    font:14px/16px myriad-pro;
    color:#666666;
    height: 22px;
    padding: 4px 6px;
    margin-bottom: 9px;
    border-radius: 4px 4px 4px 4px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    background-clip: padding-box;
    width: 250px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

input.location:focus {
    border: 1px solid #CCCCCC;
}

#search-warning {
    display:none;
    margin-top:15px;
    width:320px;
    font:14px/16px myriad-pro;
    color:#444444;
    border:1px solid #666666;
    padding:5px 10px;
    background-color: #fffece;
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

input.watermark {
    color:#999999;
}

.pac-container:after {
    content: none;
}

div.pac-item {
    font:14px/16px myriad-pro;
    padding: 2px 5px 2px 5px;
    color:#444444;
}

div.pac-selected, div.pac-item:hover {
    background-color:#CCCCCC;
    color:#444444;
}

a.home {
    color:#FFFFFF;
    text-decoration:underline;
    cursor:pointer;
}

.box-wrapper {
    padding:50px 20px 30px 20px;
}

.box-large {
    border:1px solid #999999;
    padding:15px;
    background-color:#FCFCFC;
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    height:250px;
    margin-left:20px;
}

.box-large h2 {
    font: 18px/20px MaiandraOTGD-DemiBold;
    color:#AA0000;
    margin-bottom: 15px;
}


.home-caption {

}

.home-caption h2 {
    font: 18px/20px MaiandraOTGD-DemiBold;
    color:#AA0000;
    margin-bottom: 15px;
}

.recommendations {
    font: 16px/16px MaiandraOTGD-DemiBold;
    color: #FFFFFF;
    text-shadow: 0 2px #333333;
    margin:60px 0 15px 0;
    padding:0 20px 0 20px;
    text-align:left;
    display:inline-block;
}

#carousel {
    margin:0 0 50px 0;
    padding:0 20px 15px 20px;
    text-align:center;
}

.carousel-items {
}

.restaurant-panel {
    width:173px;
    min-height:120px;
    padding:10px;
    border:1px solid #CCCCCC;
    background-color:#FEFEF2;
    margin:10px 25px;
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
       -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
            box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.restaurant-name {
    padding:5px 0 2px 0;
    font: 14px/16px MaiandraOTGD-DemiBold;
    color:#AA0000;

}

.restaurant-summary {
    font:700 12px/14px prenton;
    color:#444444;
}

a.blank, a.blank:visited, a.blank:hover, a.blank:active {
    color:#AA0000;
    text-decoration:none;
    cursor:pointer;
}

a.location, a.location:visited, a.location:hover, a.location:active {
    color:#FFFFFF;
    text-decoration:underline;
}

.triangle-isosceles {
	background:#c5171e; /* default background for browsers without gradient support */
	padding:13px 20px 13px 20px;
}

.triangle-isosceles.left {
    color:#FFFFFF;
	background:#c5171e;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#c5171e), to(#720d11));
	background:-moz-linear-gradient(#c5171e, #720d11);
	background:-o-linear-gradient(#c5171e, #720d11);
	background:linear-gradient(#c5171e, #720d11);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
       -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
            box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.triangle-isosceles.left:after {
	border-color:transparent #9c1218;
    top:12px; /* value = - border-top-width - border-bottom-width */
    bottom:auto;

}
