@charset "utf-8";

.main-content {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0px auto 0px auto;
    width: 1020px;
    padding: 20px 0 10px 0;
    clear: both;
}

.butler-main {
    clear: both;
    margin: 0px auto 0px auto;
    position: relative;
    width: 1020px;
    height: 603px;
    background: url(../images/butler-home.png) 0 0 no-repeat #FFFFFF;
}

.searchbar-wrapper {
    position:absolute;
    right: 170px;
    top: 95px;
    width: 250px;
}

.searchbar-location {
    font:16px/16px MaiandraOTGD-DemiBold;
    color:#FFFFFF;
    text-shadow: 0 2px #333333;
    padding-bottom:7px;
}

.search-location-form {
    width: 250px;
    height: 30px;
    position:relative;
}

.location-input {
    width: 180px;
    height: 32px;
    position:absolute;
    top: 0px;
    left: 0px;
}

.location-input {
    width: 190px;
    height: 32px;
    position:absolute;
    top: 0px;
    left: 0px;
}

.location-button {
    background: url(../images/button-grey.png) 0 0 no-repeat;
    width: 68px;
    height: 32px;
    padding-top:4px;
    position:absolute;
    top: 0px;
    left: 212px;
    position:relative;
    text-align:center;
    cursor:pointer;
}

a.search {
    font: 16px MaiandraOTGD-DemiBold;
    color:#c5171e;
}


.location-direct {
    font: 500 12px/14px prenton;
    color:#FFFFFF;
    text-shadow: 0 2px #333333;
    padding-top: 7px;
}

input.location {
    font:14px/16px myriad-pro;
    color:#666666;
    height: 22px;
    padding: 4px 6px;
    margin-bottom: 9px;
    border-radius: 4px 4px 4px 4px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    background-clip: padding-box;
    width: 190px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

input.location:focus {
  border-color: rgba(170, 0, 0, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(170, 0, 0, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(170, 0, 0, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(170, 0, 0, 0.6);
}

.pac-container:after {
    content: none;
}

div.pac-container {
    width: 300px;
}

div.pac-item {
    font:14px/16px myriad-pro;
    padding: 2px 5px 2px 5px;
    color:#444444;
}

div.pac-selected, div.pac-item:hover {
    background-color:#CCCCCC;
    color:#444444;
}
