@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
}

input:focus {
    outline:none;
}

html {
    margin:0;
    padding:0;
}

body {
    min-width:1050px;
    background: none repeat scroll 0 0 #880000;
    color: #827762;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
    margin: 0;
    padding: 0;
}

#wrapper {
    background: url(../images/body-bg.png) repeat scroll 0 0 transparent;
}

#wrap {
}

#wrap-in {
    background: url(../images/wrap-inner-bg-red.png) repeat-x scroll center bottom transparent;
    position:relative
}

#header-wrap, #main-wrap, #footer-wrap {
    min-width: 1020px;
}

#header-wrap {
    background: url(../images/header-bg-red.jpg) repeat-x scroll center bottom transparent;
    padding: 0 0 150px 0;
}

#main-wrap {
    width:1020px;
    margin:0 auto 0 auto;
	-webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, .3);
	   -moz-box-shadow: 0 0 4px 4px rgba(0, 0, 0, .3);
	        box-shadow: 0 0 4px 4px rgba(0, 0, 0, .3);
}

#page-nav {
    text-align:right;
    padding: 10px 0 0 0;
    font: 700 12px/12px prenton-n7,prenton;
    text-shadow: 0 2px #333333;
    color:#FFFFFF;
}

#page-nav a, #page-nav a:visited, #page-nav a:hover, #page-nav a:active {
    color:#FEFEFE;
    text-decoration:none;
    cursor:pointer;
}

#page-nav a:hover, #page-nav a:active {
    text-decoration:underline;
}

#header-inner {
    padding: 0 0 20px 0;
}

#page {
    margin: 0 auto;
    width: 1020px;
    z-index: 2;
}

#header, #header table {
    border-collapse: collapse;
    border-spacing: 0;
}

#header {
    margin: 0;
    padding: 0;
}

#main-wrap {
    margin-top: -140px;
}

#nav-wrap {
}

#topnav {
    clear: both;
    margin: 0;
    padding: 0;
    height:41px;
}

.workflow1 {
    background:url(../images/topnav/topnav2.png) 0 0 no-repeat transparent;
}

.workflow2 {
    background:url(../images/topnav/topnav3.png) 0 0 no-repeat transparent;
}

.workflow3 {
    background:url(../images/topnav/topnav4.png) 0 0 no-repeat transparent;
}

.workflow4 {
    background:url(../images/topnav/topnav5.png) 0 0 no-repeat transparent;
}

.workflow5 {
    background:url(../images/topnav/topnav.png) 0 0 no-repeat transparent;
}

#main-bot {
    background: url(../images/main-bot.png) no-repeat scroll left bottom transparent;
}

#main-inner {
    background: url(../images/main-inner-wide.png) repeat-y scroll 0 0 transparent;
}

#main {
    position:relative;
}

#banner {
    overflow:hidden;
    background-color:#FFFFFF;
}

#banner-wrap {
    background: none repeat scroll 0 0 #FFFFFF;
    padding:5px;
}

#banner-outer {
    background: none repeat scroll 0 0 #E9E1D3;
    border: 1px solid #D4CBB9;
    padding: 9px;
    margin-bottom:110px;
}

#banner-inner {
    border: 4px solid #F6F3EC;
}

.wsite-header {
    margin: 0px auto 0px auto;
    width: 100%;
    height:250px;
    background-color:#FFFFFF;
    background: url(../images/food/banner-back.jpg) 0 0 no-repeat #FFFFFF;
}

#content {
    min-height: 300px;
    padding: 10px 10px 40px 10px;
}

#footer-wrap {
    background: url(../images/footer-wrap-red.png) repeat scroll center top #880000;
    position: relative;
    z-index: 1;
}

.wsite-not-footer {
    text-align: left;
}

#footer p, #footer .wsite-form-label, #footer {
}

#footer div.paragraph, #footer .wsite-form-label, #footer {
}

#footer {
    padding: 35px 10px 30px 10px;
    text-align: right;
}

.button-green {
    width:110px;
    height:28px;
    text-align:center;
    background:url(../images/button-green-back.png) 0 0 repeat-x transparent;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    cursor:pointer;
}

.button-orange {
    width:110px;
    height:28px;
    text-align:center;
    background:url(../images/button-orange-back.png) 0 0 repeat-x transparent;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    cursor:pointer;
}

.button-text {
    font: 12px/12px MaiandraOTGD-DemiBold;
    padding-top: 7px;
    color:#FFFFFF;
    text-shadow: 0 2px #333333;
    text-transform: uppercase;
}

.header-company-text {
    background: none repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font: 32px/32px MaiandraOTGD-DemiBold;
    text-shadow: 0 2px #333333;
    text-transform: uppercase;
    padding:0;
    cursor:pointer;
}

.home-content-header {
    text-align:center;
    padding-top:40px;
    margin-top:10px;
    font: 16px/16px MaiandraOTGD-DemiBold;
    color:#666666;
    background: url(../images/banner-bot.png) no-repeat scroll center top transparent;
}

iframe.payment {
     background: none repeat scroll 0 0 #FFFFFF;
}

table {
    border:0;
    padding:0;
    margin:0;
    border-collapse: separate;
    border-spacing: 0px;
    *border-collapse: expression('separate', cellSpacing = '0px');
}


h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-family: myriad-pro-n4,myriad-pro;
    font-weight: normal;
}

h3, h4, h5, h6 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 10px;
    font-weight: normal;
}

.third {
    margin-right: 40px;
    width: 313px;
}

.last {
    margin-right: 0;
    padding-right: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.outer-box {
    border: 1px solid #675c58;
    padding: 3px;
}

div.middle-box {
    border: 2px solid #675C58;
    padding: 1px;
}

div.center-box {
    border: 1px solid #786d69;
    padding: 10px;
}

div.boxcontent { padding: 8px;}

.warning-wrapper {
    border: 1px solid #b64242;
    background-color: #fffece;
    width: 300px;
    padding: 10px 15px 10px 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.warning-content {
    font-family: MaiandraOTGD-DemiBold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
}

.location-match {
    font-family: pt-sans-n4,pt-sans;
    font-size: 16px;
    line-height:18px;
    padding-bottom:6px;
}

a.location-link {
    color:#0000CC;
    text-decoration:underline;
    cursor:pointer;
}

.search-small {
    height:30px;
    width:80px;
    background:url(../images/search-button-back-small.png) 0 0 repeat-x transparent;
    margin-left:8px;
    height:30px;
    text-align:center;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    cursor:pointer;
}

.search-button-text-small {
    font:12px/12px MaiandraOTGD-DemiBold;
    color:#FFFFFF;
    text-shadow: 0 2px #333333;
    text-align:center;
    text-transform:uppercase;
    padding-top:9px;
}

.euro {
    font: 12px/14px prenton-n4,prenton;
}

a.header-blank, a.header-blank:visited, a.header-blank:hover, a.header-blank:active {
    text-decoration:none;
    color:#FFFFFF;
}
