@charset "utf-8";
/* CSS Document */

body,input,select,textarea {
    font: 16px/18px ff-tisa-web-pro-1,ff-tisa-web-pro-2,Georgia,"Times New Roman",serif;
    vertical-align:baseline;
    color:#333;
}

body {
    margin: 0;
    background-color: #F7F7F7;
}

h1, h2 {
    background: transparent;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color:#333;
    font-weight:700;
    font-family: 'Myriad Pro Cond', myriad-pro-condensed-1, myriad-pro-condensed-2, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 38px;
    line-height: 42px;
}

h2 {
    font-size:28px;
    line-height:32px;
}

a, a:hover, a:visited, a:active {
    color: #006595;
}

a:hover, a:active {
    color: #44A6CC;
}

#titlenav ul {
    font-family: "Myriad Pro Cond", myriad-pro-condensed-1,myriad-pro-condensed-2,'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    font-size:20px;
    list-style:none outside none;
    margin:0;
    padding:0;
    overflow:hidden;
}

#titlenav li {
    display:inline;
    float:left;
}

.shadow {
    -moz-box-shadow: 0px 2px 3px #444;
    -webkit-box-shadow: 0px 2px 3px #444;
    box-shadow: 0px 2px 3px #444;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#444444')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#444444');
}

#header {
    margin:0;
    width: 100%;
    height:50px;
    text-align:left;
    background: #C92233;
}

#titlenav {
    margin:0 auto;
    width:940px;
    text-align:left;
}

#container {
    margin: 0 auto;
    width:940px;
    text-align: left;
}

#titlenav a, #titlenav a:visited, #titlenav a:active, #titlenav a:hover {
    color:#F7F7F7;
    text-decoration:none;
    display:block;
    -moz-box-sizing:border-box;
    width:100px;
    text-align:center;
    padding:12px;
}

.result-wrapper {
    background: transparent #DDD;
    border: 1px solid #CCC;
	border-radius: 4px;
	 -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	float: left;
	clear: all;
	width: 700px;
	padding: 9px;
	margin-bottom:10px;
}

.order {
    background-color:#EEE;
    border: 1px solid #CCC;
	border-radius: 4px;
	 -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	clear: all;
	width: 350px;
	padding: 9px;
	margin:20px 0 20px 0;
}

/* Set jquery widget size */
.ui-widget{
    font-family: Segoe UI,Tahoma,Arial,Verdana,sans-serif;
    font-size: 11px;
}


