@charset "utf-8";

#order-wrapper {
    margin-top:0;
}

.order-summary-wrapper {
    padding:10px 0 0 10px;
    margin: 0 30px 30px 0;
}

.order-summary-wrapper h2 {
    font: 20px/20px MaiandraOTGD-DemiBold;
    margin-bottom:20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
    color:#CC0000;
    text-shadow: 1px 1px 2px #EEEEEE;
}

.order-overview-wrapper {
    margin-right: 30px;
}

.order-information {
    font: 18px/20px MaiandraOTGD-DemiBold;
    color: #444444;
    margin-bottom: 20px;
}

.order-restaurant {
    font: 14px/16px myriad-pro-n4,myriad-pro;
    margin-bottom: 20px;
    color:#444444;
}

.restaurant-contact {
    font: 700 14px/16px myriad-pro-n7,myriad-pro;
    margin-top:5px;
}

.order-overview {
    font: 14px/16px myriad-pro-n4,myriad-pro;
    color:#444444;
    margin-bottom: 20px;
}

.order-overview h2 {
    font: 18px/20px MaiandraOTGD-DemiBold;
    padding-bottom: 6px;
    color:#CC0000;
    margin:0;
    border:0;
    text-shadow: 1px 1px 2px #EEEEEE;
}

.order-overview p {
    padding-bottom: 6px;
}

.order-delivery {
    font: 14px/16px myriad-pro-n4,myriad-pro;
    color:#444444;
}

.order-delivery p {
    padding-bottom: 6px;
}

.order-image {
    width: 260px;
    height: 256px;
    background-image: url(../images/order-confirmation.jpg);
}

.order-delivery h2 {
    font: 18px/20px MaiandraOTGD-DemiBold;
    padding-bottom: 6px;
    color:#CC0000;
    text-shadow: 1px 1px 2px #EEEEEE;
    margin:0;
    border:0;
}

.delivery-address {
    font: 700 14px/16px myriad-pro-n7,myriad-pro;
}

.delivery-time {
    font: 700 14px/16px myriad-pro-n7,myriad-pro;
}

#restaurant-location {
    width: 619px;
    height: 320px;
    margin-top: 10px;
}
