@charset "utf-8";

#order-wrapper {
    margin-right:10px;
    width: 250px;
    background-color:#FCFCFC;
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}


.orderheader {
    text-align:left;
    font-family: MaiandraOTGD-DemiBold;
    font-size: 20px;
    color:#AA0000;
    border-bottom: 1px dashed #AAAAAA;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.order-delivery-wrapper {
    text-align:left;
    margin: 6px 0 10px 0;
    padding: 0px 5px 0px 5px;
}

.delivery-wrapper {
    text-align:left;
    padding: 0;
}

.delivery-title {
    font-family: MaiandraOTGD-DemiBold;
    font-size: 13px;
    color:#444444;
    margin-bottom: 2px;
}

.delivery-header {
    font-family: MaiandraOTGD-DemiBold;
    font-size: 13px;
    color:#444444;
    font-weight:normal;
}

h3.order-table {
    font-family: myriad-pro-semi-condensed;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
    font-weight: 700;
    margin-bottom: 0;
}

.order-items-wrapper {
    border: 1px solid #CCCCCC;
    background-color:#FFFFFF;
    margin: 10px 0 10px 0;
    padding: 5px 10px 5px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.order-item-wrapper, .order-item-wrapper-header {
    padding-bottom: 1px;
    overflow: hidden;
    border-bottom: 1px dashed #EEEEEE;
}

.order-item-wrapper {
    margin-top: 4px;
}

.order-item-wrapper td {
    font-family: pt-sans;
    font-size: 12px;
    line-height: 16px;
}

.order-remove-item {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left:5px;
    background: url(../images/icons-shadowless/cross-script.png) -1px 1px no-repeat;
    cursor:pointer;
}

.order-cash-discount {
    color:#990000;
}

select.deliveryselect {
    font-family: pt-sans;
    font-size: 12px;
}

.order-discount-wrapper {
    border: 1px solid #CCCCCC;
    background-color:#FFFFFF;
    margin: 10px 0 10px 0;
    padding: 5px 10px 5px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.order-discount-wrapper h2 {
    font-family: MaiandraOTGD-DemiBold;
    font-size: 14px;
    color:#990000;
    margin-bottom: 2px;
}

.order-discount-item {
    font-family: pt-sans;
    font-size: 12px;
    padding-top: 2px;
    font-weight:700;
}

.additional-information {
    border: 1px solid #CCCCCC;
    background-color:#FFFFFF;
    padding: 5px 10px 5px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: pt-sans;
    font-size: 12px;
    line-height: 16px;
}

select.freeitemselect {
    font-family: pt-sans;
    font-size: 12px;
    margin-top:2px;
}

#instructions {
    width: 460px;
    height: 150px;
    font-family: pt-sans;
    font-size: 13px;
    border: 1px solid #B6B6B6;
    padding: 3px 5px 3px 5px;
    color:#444444;
}

#instructions:focus {
    border: 1px solid #AA0000;
}

#ordertotal {
    text-align:center;
    font-family: MaiandraOTGD-DemiBold;
    color:#444444;
    font-size: 18px;
    letter-spacing: -0.01em;
    margin: 20px 0 10px 0;
    padding: 10px 0 15px 0;
    border-bottom: 1px dashed #AAAAAA;
    border-top: 1px dashed #AAAAAA;
}

.order-totalcost {
    padding-left: 10px;
}

.order-free-item-wrapper {
    font-family: pt-sans;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 0 10px 0 10px;
}

.order-free-item-title {
    font-weight:bold;
    color:#444444;
    margin-bottom: 6px;
}

.delivery-warning-wrapper {
    font-family: pt-sans;
    border: 1px solid #b64242;
    background-color: #fffece;
    font-size: 12px;
    line-height: 16px;
    margin-top: 6px;
    padding: 5px 10px 5px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.restaurant-warning {
    font-family: pt-sans;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
    margin-top: 6px;
    padding: 5px 10px 5px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.restaurant-warning-text {
    padding-bottom: 5px;
}

.delivery-options-wrapper {
    text-align:left;
    font-family: MaiandraOTGD-DemiBold;
    font-size: 13px;
    font-weight:normal;
    margin: 0 0 6px 0;
}

.deliveryradio {
    padding-right: 10px;
}

.delivery-buttons {
    margin: 5px 0 10px 0;
    text-align:left;
}

a.delivery-button {
    color:#AA0000;
    font-family: pt-sans;
    font-weight: 700;
    font-size: 12px;
    text-decoration:underline;
    cursor:pointer;
}

a.order-button, a.order-button:active, a.order-button:hover {
    background-color: #50a747;
    border: 1px solid #333333;
    color: #FFFFFF;
    font-family: pt-sans;
    font-weight: 700;
    font-size: 12px;
    padding: 1px 6px 1px 6px;
    text-align: center;
    vertical-align: baseline;
    text-decoration: none;
    text-shadow: 0 1px #333333;
    cursor: pointer;
}

a.order-button:active, a.order-button:hover {
    background-color: #2c8023;
}

a.order-button-large, a.order-button-large:active, a.order-button-large:hover {
    padding: 4px 10px 4px 10px;
}

a.order-button-large:active, a.order-button-large:hover {
    background-color: #2c8023;
}

.additional-items-wrapper {
    width: 510px;
}

.additional-item-description-wrapper {
    padding: 2px 0 2px 0;
}

.additional-item-description {
    font-family: pt-sans;
    font-size: 14px;
    line-height: 16px;
    padding: 2px 0 2px 0;
}

.additional-item-cost-wrapper {
    font-family: MaiandraOTGD-DemiBold;
    font-size: 16px;
    line-height: 18px;
    background-color:#FCFCFC;
    clear:both;
    overflow:hidden;
    margin: 20px 0 0 0;
    padding: 6px 12px 6px 12px;
    color:#444444;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

.additional-item-quantity {
    float:left;
}

.additional-item-total-cost {
    float:right;
}

#quantity {
    width:20px;
    border:1px solid #AAAAAA;
    font-family: pt-sans;
    font-size:16px;
    color: #444444;
    padding: 0 5px 0 5px;
    margin-left: 5px;
    text-align:center;
    font-weight:700;
}

#quantity:focus {
    border:1px solid #AA0000;
}

.additional-item-grid {
    clear:both;
    overflow:hidden;
    border: 1px solid #BBBBBB;
    margin: 10px 0 10px 0;
    padding: 8px 15px 8px 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.additional-item-table {
    float:left;
    width: 230px;
}

.additional-item-title {
    font-family: pt-sans;
    font-size:13px;
    font-weight:700;
    padding: 4px 0 4px 0;
}

.red {
    color:#AA0000;
}

.additional-item-cost {
    font-family: pt-sans;
    font-size:13px;
    font-weight:700;
    padding: 4px 0 4px 0;
}

.additional-items-body {
    max-height: 350px;
    overflow:auto;
    margin-bottom:10px;
    position:relative;
}

.itemcheckbox {
    font-family: MaiandraOTGD-DemiBold;
    font-size: 14px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.additional-item {
    font-family: MaiandraOTGD-DemiBold;
    font-size: 14px;
    letter-spacing: -0.01em;
    margin-bottom:5px;
}

.additionalitemcost {
    padding-left: 6px;
    font-weight:bold;
}

.additional-items-wrapper h3 {
    color: #BB0000;
    font-family: MaiandraOTGD-DemiBold;
    font-size:18px;
    line-height:22px;
    text-shadow: 0 1px #EEEEEE;
    border-bottom: 1px dashed #AAAAAA;
    margin-bottom: 16px;
    padding-bottom:6px;
}

.additional-items-buttons {
    text-align:right;
    border-top: 1px dashed #AAAAAA;
    padding:16px 0 6px 0;
    margin-top:20px;
}

#itemcountwarning {
}

.itemcountwarning {
    font-family: MaiandraOTGD-DemiBold;
    font-size: 14px;
    border: 1px solid #b64242;
    background-color: #fffece;
    line-height: 16px;
    margin-top: 6px;
    padding: 6px 10px 10px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.restaurant-warning-wrapper {
    background-color:#FFFFFF;
    width: 500px;
    padding: 10px 15px 10px 15px;
    border:1px solid #FFFFFF;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.restaurant-warning-wrapper h3 {
    color: #AA0000;
    font-family: MaiandraOTGD-DemiBold;
    font-size:18px;
    line-height:22px
    text-shadow: 0 1px #EEEEEE;
    border-bottom: 1px dashed #AAAAAA;
    margin-bottom: 16px;
    padding-bottom:6px;
}

.warning-container {
    border: 1px solid #b64242;
    background-color: #fffece;
    font-family: MaiandraOTGD-DemiBold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    margin-top: 6px;
    padding: 6px 10px 6px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.warning-container p {
    padding-bottom:6px;
}

.specialofferitemtop {
    border-top: 1px dashed #EEEEEE;
    margin-bottom: 10px;
    padding-bottom: 6px;
}

.specialofferitem {
    margin-bottom: 20px;
}

.specialofferitemtitle {
    color: #BB0000;
    font-family: MaiandraOTGD-DemiBold;
    font-size:14px;
    line-height:16px;
    color:#AA0000;
    padding-bottom:6px;
}

.specialofferitemchoice select{
    font-family: pt-sans;
    font-size:13px;
}

#checkout {
    text-align:center;
    padding: 5px 0 5px 0;
    vertical-align:middle;
}

a.checkout-button, a.checkout-button:active, a.checkout-button:hover {
    display:inline-block;
    width: 122px;
    background: transparent url(../images/button.png) no-repeat 0 0;
    color: #FFFFFF;
    font-family: MaiandraOTGD-DemiBold;
    font-size: 18px;
    text-align: center;
    height:27px;
    padding-top: 5px;
    text-decoration: none;
    text-shadow: 0 1px #333333;
    cursor: pointer;
}

a.checkout-button:active, a.checkout-button:hover {
}
