@charset "utf-8";

.order-summary-wrapper {
    width: 750px;
    min-height: 450px;
    padding-bottom: 120px;
    background: url(../images/butler-confirmation.png) no-repeat bottom right;
}

.order-summary-wrapper h2 {
     font-family: MaiandraOTGD-DemiBold;
     font-size: 28px;
     line-height: 32px;
     margin-bottom:10px;
     color:#AA0000;
}

