@charset "utf-8";

#order-wrapper {
    margin-right:10px;
    border: 1px solid #BBBBBB;
    background-color:#FCFCFC;
    padding:10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 228px;
}

.orderheader {
    text-align:left;
    font-family: "ff-tisa-web-pro",impact;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.01em;
    color:#AA0000;
    border-bottom: 1px dashed #AAAAAA;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.order-delivery-wrapper {
    text-align:left;
    margin: 6px 0 6px 0;
    padding: 0px 10px 0px 10px;
}

.delivery-wrapper {
    text-align:left;
    padding: 6px 0 6px 0;
}

.delivery-title {
    font-family: "ff-tisa-web-pro",impact;
    font-size: 14px;
    color:#444444;
    font-weight:700;
    margin-bottom: 4px;
}

.delivery-header {
    font-family: "ff-tisa-web-pro",impact;
    font-size: 14px;
    color:#444444;
}

h3.order-table {
    font-family: "myriad-pro-semi-condensed";
    font-size: 12px;
    line-height: 16px;
    color: #444444;
    font-weight: 700;
    margin-bottom: 0;
}

.order-items-wrapper {
    border: 1px solid #CCCCCC;
    background-color:#FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.order-item-wrapper, .order-item-wrapper-header {
    padding-bottom: 1px;
    overflow: hidden;
    border-bottom: 1px dashed #EEEEEE;
}

.order-item-wrapper {
    margin-top: 4px;
}

.order-item-wrapper td {
    font-family: "pt-sans",'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    font-size: 12px;
    line-height: 16px;
}

.order-remove-item {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left:5px;
    background: url(../images/icons-shadowless/cross-script.png) -1px 1px no-repeat;
    cursor:pointer;
}

.order-cash-discount {
    color:#990000;
}

select.deliveryselect {
    font-family: "pt-sans",'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    font-size: 12px;
}

.order-discount-wrapper {
    border: 1px solid #CCCCCC;
    background-color:#FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.order-discount-wrapper h2 {
    font-family: "ff-tisa-web-pro",impact;
    font-size: 14px;
    color:#990000;
    font-weight:700;
    margin-bottom: 2px;
}

.order-discount-item {
    font-family: "pt-sans",'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    font-size: 12px;
    padding-top: 2px;
    font-weight:700;
}

select.freeitemselect {
    font-family: "pt-sans",'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    font-size: 12px;
}


#ordertotal {
    text-align:center;
    font-family: "ff-tisa-web-pro",Georgia,"Times New Roman",serif;
    color:#444444;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.01em;
    margin: 20px 0 10px 0;
    padding: 10px 0 15px 0;
    border-bottom: 1px dashed #AAAAAA;
    border-top: 1px dashed #AAAAAA;
}

.order-totalcost {
    padding-left: 10px;
}

.order-free-item-wrapper {
    font-family: "pt-sans",'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 0 10px 0 10px;
}

.order-free-item-title {
    font-weight:bold;
    color:#444444;
    margin-bottom: 6px;
}

.delivery-warning-wrapper {
    font-family: "pt-sans",'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    border: 1px solid #b64242;
    background-color: #fffece;
    font-size: 12px;
    line-height: 16px;
    margin-top: 6px;
    padding: 6px 10px 6px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.delivery-options-wrapper {
    text-align:left;
    font-family: "ff-tisa-web-pro",impact;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 6px 0;
}

.deliveryradio {
    padding-right: 10px;
}

.delivery-buttons {
    padding-top: 10px;
    text-align:right;
}

a.order-button, a.order-button:active, a.order-button:hover {
    background-color: #50a747;
    border: 1px solid #333333;
    color: #FFFFFF;
    font-family: "pt-sans",'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    font-weight: 700;
    font-size: 12px;
    padding: 1px 6px 1px 6px;
    text-align: center;
    vertical-align: baseline;
    text-decoration: none;
    text-shadow: 0 1px #333333;
    cursor: pointer;
}

a.order-button:active, a.order-button:hover {
    background-color: #2c8023;
}

a.order-button-large, a.order-button-large:active, a.order-button-large:hover {
    padding: 4px 10px 4px 10px;
}

a.order-button-large:active, a.order-button-large:hover {
    background-color: #2c8023;
}

.additional-items-wrapper {
    background-color:#FFFFFF;
    width: 500px;
    padding: 10px 15px 10px 15px;
    border:1px solid #FFFFFF;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.additional-items-body {
    max-height: 350px;
    overflow:auto;
    margin-bottom:10px;
    position:relative;
}

.itemcheckbox {
    font-family: "ff-tisa-web-pro",impact;
    font-size: 14px;
}

.additional-item {
    font-family: "ff-tisa-web-pro",impact;
    font-size: 14px;
    letter-spacing: -0.01em;
    margin-bottom:5px;
}

.additionalitemcost {
    padding-left: 6px;
    font-weight:bold;
}

.additional-items-wrapper h3 {
    color: #BB0000;
    font-family: "ff-tisa-web-pro",Georgia,"Times New Roman",serif;
    font-size:18px;
    line-height:22px;
    text-shadow: 0 1px #EEEEEE;
    border-bottom: 1px dashed #AAAAAA;
    margin-bottom: 16px;
    padding-bottom:6px;
}

.additional-items-buttons {
    text-align:right;
    border-top: 1px dashed #AAAAAA;
    padding:16px 0 6px 0;
    margin-top:20px;
}

#itemcountwarning {
    margin-bottom: 10px;
}

.itemcountwarning {
    font-family: "ff-tisa-web-pro",impact;
    font-size: 14px;
    border: 1px solid #b64242;
    background-color: #fffece;
    line-height: 16px;
    margin-top: 6px;
    padding: 6px 10px 10px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.restaurant-warning-wrapper {
    background-color:#FFFFFF;
    width: 500px;
    padding: 10px 15px 10px 15px;
    border:1px solid #FFFFFF;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.restaurant-warning-wrapper h3 {
    color: #BB0000;
    font-family: "ff-tisa-web-pro",Georgia,"Times New Roman",serif;
    font-size:18px;
    line-height:22px
    text-shadow: 0 1px #EEEEEE;
    border-bottom: 1px dashed #AAAAAA;
    margin-bottom: 16px;
    padding-bottom:6px;
}

.warning-container {
    border: 1px solid #b64242;
    background-color: #fffece;
    font-family: "ff-tisa-web-pro",impact;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    margin-top: 6px;
    padding: 6px 10px 6px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.warning-container p {
    padding-bottom:6px;
}

.specialofferitemtop {
    border-top: 1px dashed #EEEEEE;
    margin-bottom: 10px;
    padding-bottom: 6px;
}

.specialofferitem {
    border-bottom: 1px dashed #EEEEEE;
    margin-bottom: 10px;
    padding-bottom: 16px;
}

.specialofferitemtitle {
    color: #BB0000;
    font-family: "ff-tisa-web-pro",Georgia,"Times New Roman",serif;
    font-size:16px;
    line-height:18px;
    font-weight:bold;
    text-shadow: 0 1px #EEEEEE;
}

.specialofferitemdescription {
    font-family: "pt-sans",'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    font-size: 12px;
    font-style: italic;
    line-height: 16px;
    padding-top:3px;
}

.specialofferitemchoice {
    font-family: "ff-tisa-web-pro",impact;
    font-size: 14px;
    padding-top:6px;
}

.specialofferitemchoice select{
    font-family: "ff-tisa-web-pro",impact;
    font-size: 14px;
}

#checkout {
    text-align:center;
    padding: 5px 0 5px 0;
    vertical-align:middle;
}

a.checkout-button, a.checkout-button:active, a.checkout-button:hover {
    background-color: #50A3E2;
    border: 1px solid #333333;
    color: #FFFFFF;
    font-family: "pt-sans",'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 3px 15px 3px 15px;
    text-align: center;
    vertical-align: baseline;
    text-decoration: none;
    text-shadow: 0 1px #333333;
    cursor: pointer;
}

a.checkout-button:active, a.checkout-button:hover {
    background-color: #247FCC;
}
