@charset "utf-8";

.restaurant-details-wrapper {
    padding: 0px 10px 20px 10px;
    margin-bottom: 10px;
}

.restaurant-details-wrapper h2 {
    color: #333333;
    font-family: "ff-tisa-web-pro",impact;
    font-size: 26px;
    font-style: normal;
    letter-spacing: -0.01em;
    margin-bottom: 10px;
    padding-top: 5px;
}

.restaurant-description {
    color: #AA0000;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size:12px;
    letter-spacing: -0.01em;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
}

.restaurant-details {
    font-size: 12px;
    line-height: 14px;
    margin-top: 6px;
}

.restaurant-details-title {
    color:#444444;
    font-weight:700;
}

.restaurant-info-wrapper {
    border: 1px solid #CCCCCC;
    background-color:#FFFFFF;
    margin: 0 0 10px 0;
    padding: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.menu-wrapper {
    padding: 0px 10px 0px 10px;
}

.menu-category-wrapper {
    padding-top:15px;
    padding-bottom: 20px;
    border-top: 1px solid #DDDDDD;
    overflow:hidden;
}

.menu-category-wrapper h2 {
    color: #BB0000;
    font-family: "ff-tisa-web-pro",Georgia,"Times New Roman",serif;
    font-size:18px;
    line-height:22px
    text-shadow: 0 1px #EEEEEE;
    margin-bottom: 6px;
    padding-top: 6px;
}

.menu-category-summary {
    color: #666666;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
    border-bottom: 1px dashed #EEEEEE;
    padding-bottom: 10px;
}

.menu-item-wrapper {
    margin-top: 6px;
    padding-bottom: 6px;
    overflow: hidden;
    border-bottom: 1px dashed #EEEEEE;
}

h3.menu-item-title {
    font-family: "pt-sans",'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
    font-weight: 700;
    margin-bottom: 0;
}

.menu-item-subtitle {
    color: #AA3333;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
}

.menu-item-cost {
    font-family: "pt-sans",'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
    font-weight: 700;
    padding-right: 6px;
}

.menu-item-action {
    padding-left:2px;
}

.menu-item-description {
    clear: both;
    color: #666666;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.01em;
    font-style: italic;
}

td.spacer {
    padding-bottom:10px;
}

a.menuitem-button, a.menuitem-button:active, a.menuitem-button:hover {
    background-color: #50a747;
    border: 1px solid #333333;
    color: #FFFFFF;
    font-family: "pt-sans",'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    font-weight: 700;
    font-size: 12px;
    padding: 1px 6px 1px 6px;
    text-align: center;
    vertical-align: baseline;
    text-decoration: none;
    text-shadow: 0 1px #333333;
    cursor: pointer;
}

a.menuitem-button:active, a.menuitem-button:hover {
    background-color: #2c8023;
}
