@charset "utf-8";

#order-wrapper {
    position: absolute;
    top: 20px;
}

#order-wrapper.fixed {
  position: fixed;
  top: 20px;
}

.restaurant-details-wrapper {
    padding: 0px 10px 20px 10px;
    border-bottom: 1px dashed #AAAAAA;
}

.restaurant-details-wrapper h2 {
    color: #AA0000;
    font-family: "ff-tisa-web-pro",impact;
    font-size: 28px;
    font-style: normal;
    letter-spacing: -0.01em;
    padding:0 0 0 5px;
    margin-bottom:6px;
}

.restaurant-description {
    color: #444444;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size:12px;
    letter-spacing: -0.01em;
    font-style: italic;
    padding: 0 0 0 5px;
}

.restaurant-details {
    font-size: 13px;
    line-height: 14px;
    margin-top: 6px;
}

.restaurant-details-title {
    color:#444444;
    font-weight:700;
}

.restaurant-info-wrapper {
    border: 1px solid #CCCCCC;
    background-color:#FFFFFF;
    margin: 0 0 10px 0;
    padding: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.restuarant-summary-wrapper {
    font-family: "pt-sans",'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    color:#444444;
    font-size: 12px;
    line-height: 14px;
    margin-right:40px;
}

.restaurant-detail-wrapper {
    border: 1px solid #AAAAAA;
    background-color: #FCFCFC;
    margin: 0 0 14px 0;
    padding: 8px;
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.restaurant-detail-title {
    font-weight:bold;
    margin-bottom:3px;
}

.restaurant-detail-content {
}

.restaurant-location h3 {
    font-family: "pt-sans",'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    margin:0 0 10px 0;
    padding:0;
}

.menu-left {
    padding: 0;
    margin:0 0 0 10px;
    width: 170px;
    position:relative;
}

.menu-center {
    padding: 10px 0 0 0;
    width: 520px;
    margin: 20px 30px 0 30px;
    position:relative;
}

.menu-right {
    padding: 20px 0 0 0;
    margin: 0;
    width: 260px;
    position:relative;
}

#menu-launch-wrapper {
    margin-top:20px;
    width: 160px;
    position: absolute;
    top: 0;
    background-color:#FCFCFC;
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

#menu-launch-wrapper.fixed {
  position: fixed;
  top: 0;
}

.menu-launch-content-wrapper {
    border: 1px solid #CCCCCC;
    background-color:#FFFFFF;
    margin-top: 10px;
    padding: 6px 10px 6px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.menu-launch-description {
    font-family: "pt-sans",'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    font-size: 12px;
    color:#444444;
    padding: 0 5px 0 5px;
}

.menu-launch-entry {
    color:#BB0000;
    font-family: "pt-sans",'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    font-size: 12px;
    cursor:pointer;
    line-height: 16px;
    padding: 4px 0 4px 0;
    font-weight: 700;
}

.menu-launch-entry a:hover {
    text-decoration:underline;
}

#menu-launch-wrapper h2 {
    text-align:left;
    font-family: "ff-tisa-web-pro",impact;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.01em;
    color:#AA0000;
    border-bottom: 1px dashed #AAAAAA;
    margin-bottom: 10px;
    padding-bottom: 10px;
}


.menu-category-wrapper {
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #DDDDDD;
    overflow:hidden;
}

.menu-category-wrapper h2 {
    color: #BB0000;
    font-family: "ff-tisa-web-pro",Georgia,"Times New Roman",serif;
    font-size:18px;
    line-height:22px
    text-shadow: 0 1px #EEEEEE;
    margin-bottom: 6px;
}

.menu-category-summary {
    color: #666666;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
    border-bottom: 1px dashed #AAAAAA;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.menu-item-wrapper {
    padding: 8px 0 8px 0;
}

.menu-item-title-wrapper {
    padding: 8px 0 8px 0;
}

div.even {
    background-color:#FAFAFA;
}


h3.menu-item-title {
    font-family: "pt-sans",'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: #444444;
    font-weight: 700;
    margin-bottom: 0;
}

.menu-item-subtitle {
    color: #AA3333;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
}

.menu-item-cost {
    font-family: "pt-sans",'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
    font-weight: 700;
    padding-right: 1px;
}

span.menu-item-action {
    background:transparent url(../images/plus.png) no-repeat 0 3px;
}

.menu-item-description {
    clear: both;
    color: #666666;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.01em;
    padding-right:10px;
    font-style: italic;
}

td.spacer {
    padding-bottom:10px;
}

a.menuitem-button, a.menuitem-button:active, a.menuitem-button:hover {
    display:inline-block;
    width:16px;
    height:14px;
    cursor: pointer;
}


a.menuitem-button:active, a.menuitem-button:hover {
}
