@charset "utf-8";

.static-content {
    padding: 0 20px 0 20px;
}

h2 {
    color: #AA0000;
    font:20px MaiandraOTGD-DemiBold;
    letter-spacing: -0.01em;
    margin-bottom:10px;
}

p.static {
    font:14px/16px myriad-pro-n4,myriad-pro;
    color:#444444;
    margin-bottom:10px;
}

.content-wrapper {
    min-height:350px;
}

ol {
    padding: 0 20px 0 20px;
}

li {
    color: #515151;
    font:16px MaiandraOTGD-DemiBold;
    letter-spacing: -0.01em;
    margin-bottom:10px;
}

li.static {
    font:14px/16px myriad-pro-n4,myriad-pro;
    color:#444444;
    margin-bottom:10px;
}