@charset "utf-8";

body {
    background-color:#FFFFFF;
    padding:10px;
}

h2 {
    color: #AA0000;
    font:20px MaiandraOTGD-DemiBold;
    letter-spacing: -0.01em;
    margin-bottom:10px;
}

p {
    font:14px/16px myriad-pro-n4,myriad-pro;
    color:#444444;
    margin-bottom:10px;
}