<html>

<body style="background-color:#FFFFFF;">

<table width="580" cellpadding="0" cellspacing="0" border="1" border-color="#CCCCCC">
    <tr>
        <td width="580" align="center">
            <table width="550">
                <tr valign="top">
                    <td width="550" colspan="3">
                        <div style="margin-top:15px;">
                            <img src="http://clickandeat.s3-external-3.amazonaws.com/resources/images/email/header.jpg" width="550" height="54"/>
                        </div>
                    </td>
                </tr>
                <tr valign="top">
                    <td width="550" colspan="3">
                        <h1 style="font:16px/18px tahoma,verdana,arial,sans-serif; color:#AA0000; font-weight:bold;margin:0;margin-top:15px;">Order has been cancelled by the customer</h1>
                    </td>
                </tr>
                <tr valign="top">
                    <td width="300">
                        <div style="margin-bottom:15px;">
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:5px;"><b>Order details:</b></div>
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:5px;">Order number is $order.orderId</div>
                            #if( $order.deliveryType == 'DELIVERY' )
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:5px;"><b>Order for delivery to:</b></div>
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;">$stringTool.escape($order.deliveryAddress.summary)</div>
                            #else
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;"><b>Order for collection</b></div>
                            #end
                        </div>

                        <div style="margin-bottom:15px;">
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;"><b>The customer has cancelled this order, please do not proceed with it.</b></div>
                        </div>

                        <div style="margin-bottom:15px;">
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:5px;"><b>Order items:</b></div>
                                <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:5px;">
                                    #foreach( $item in $order.orderItems )
                                    <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;">$stringTool.escape($item.summary,true)</div>
                                    #end
                                    #foreach( $discount in $order.orderDiscounts )
                                        #if( $discount.discountType == 'DISCOUNT_FREE_ITEM' && $stringTool.hasText($discount.freeItem) )
                                        <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;">$stringTool.escape($discount.freeItem)</div>
                                        #end
                                    #end
                                </div>
                                #if( $order.deliveryCost > 0 )
                                    <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;"><b>Delivery charge: &#163;$numberTool.format("#0.00", $order.deliveryCost)</b></div>
                                #end
                            </div>
                        </div>
                        <div style="margin-bottom:15px;">
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:5px;"><b>Total price: &#163;$numberTool.format("#0.00", $order.totalCost)</b></div>
                        </div>
                    </td>
                    <td width="20">&nbsp;</td>
                    <td width="230">
                        <img src="http://clickandeat.s3-external-3.amazonaws.com/resources/images/email/butler.jpg" width="230" height="300"/>
                    </td>
                </tr>
                <tr valign="top">
                    <td width=550" colspan="3">
                        <div style="margin-bottom:15px;">
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;"><b>Customer:</b> $stringTool.escape($order.customer.firstName) $stringTool.escape($order.customer.lastName)</div>
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;"><b>Telephone:</b> ${order.customer.telephone}</div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>

</html>
