<html>

<head>
</head>

<body>

<h1>The restaurant has accepted your order $order.orderId</h1>

#if( $order.deliveryType == 'DELIVERY' )
    <div>Expected delivery time:
        $stringTool.formatDate($order.setRestaurantConfirmedTime)
        #if(!($order.setRestaurantConfirmedTime.toLocalDate() == $today))
            on $order.setRestaurantConfirmedTime.dayOfWeek().getAsText($locale)
        #end
    </div>
#else
    <div>Time for collection:
        $stringTool.formatDate($order.setRestaurantConfirmedTime)
        #if(!($order.setRestaurantConfirmedTime.toLocalDate() == $today))
            on $order.setRestaurantConfirmedTime.dayOfWeek().getAsText($locale)
        #end
    </div>
#end

#if ($allowCancel)
    <div>If you don't want to wait this long for your order, please click the link below to cancel this order.</div>
    <div>You until $stringTool.formatDate($cancelCutoffTime)
    #if(!($cancelCutoffTime.toLocalDate() == $today))
        on $cancelCutoffTime.dayOfWeek().getAsText($locale)
    #end
    to cancel the order.</div>
    <div>
        <a href="${baseUrl}/secure/workflow/customerCancelOrder.html?curl=$cancelCurl">Cancel order</a>
    </div>
#end

</body>


</html>