<html>

<body style="background-color:#FFFFFF;">

<table width="580" cellpadding="0" cellspacing="0" border="1" border-color="#CCCCCC">
    <tr>
        <td width="580" align="center">
            <table width="550">
                <tr valign="top">
                    <td width="550" colspan="3">
                        <div style="margin-top:15px;">
                            <img src="header-image" width="550" height="54" alt="Header-image"/>
                        </div>
                    </td>
                </tr>
                <tr valign="top">
                    <td width="550" colspan="3">
                        <h1 style="font:16px/18px tahoma,verdana,arial,sans-serif; color:#AA0000; font-weight:bold;margin:0;margin-top:15px;">You have a new order</h1>
                    </td>
                </tr>
                <tr valign="top">
                    <td width="300">
                        <div style="margin-bottom:15px;">
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:5px;"><b>Order details:</b></div>
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:5px;">Order number is $order.orderId</div>
                        </div>
                        <div style="margin-bottom:15px;">
                            #if( $order.deliveryType == 'DELIVERY' )
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:5px;"><b>Order is for delivery to:</b></div>
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;">$stringTool.escape($order.deliveryAddress.summary)</div>
                            #else
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;"><b>Order is for collection</b></div>
                            #end
                        </div>

                        #if( $order.deliveryType == 'DELIVERY' )
                        <div style="margin-bottom:15px;">
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:5px;"><b>Distance to address:</b> $numberTool.format("#0.0", $distance)km</div>
                        </div>
                        #end

                        <div style="margin-bottom:15px;">
                            #if( $order.deliveryType == 'DELIVERY' )
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;">
                                <b>Requested delivery time:</b>
                                #if($order.expectedDeliveryTime)
                                    $stringTool.formatDate($order.expectedDeliveryTime)
                                    #if(!($order.expectedDeliveryTime.toLocalDate() == $today))
                                        on $order.expectedDeliveryTime.dayOfWeek().getAsText($locale)
                                    #end
                                #else
                                    ASAP
                                #end
                            </div>
                            #else
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;">
                                <b>Requested collection time:</b>
                                #if($order.expectedCollectionTime)
                                    $stringTool.formatDate($order.expectedCollectionTime)
                                    #if(!($order.expectedCollectionTime.toLocalDate() == $today))
                                        on $order.expectedCollectionTime.dayOfWeek().getAsText($locale)
                                    #end
                                #else
                                    ASAP
                                #end
                            </div>
                            #end
                        </div>

                        #if( $stringTool.hasText($order.additionalInstructions))
                        <div style="margin-bottom:15px;">
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:5px;"><b>Additional instructions:</b></div>
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;">$stringTool.escape($order.additionalInstructions,true)</div>
                        </div>
                        #end

                        <div style="margin-bottom:15px;">
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:5px;"><b>Order items:</b></div>
                                <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:5px;">
                                    #foreach( $item in $order.orderItems )
                                    <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;">$stringTool.escape($item.summary,true)</div>
                                    #end
                                    #foreach( $discount in $order.orderDiscounts )
                                        #if( $discount.discountType == 'DISCOUNT_FREE_ITEM' && $stringTool.hasText($discount.freeItem) )
                                        <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;">$stringTool.escape($discount.freeItem)</div>
                                        #end
                                    #end
                                </div>

                                #if( $order.deliveryCost > 0 )
                                <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;"><b>Delivery charge: &#163;$numberTool.format("#0.00", $order.deliveryCost)</b></div>
                                #end

                            </div>
                        </div>

                        #if( $order.hasCashDiscount() )
                        <div style="margin-bottom:15px;">
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:5px;"><b>Discounts applied to order:</div>
                                #foreach( $discount in $order.orderDiscounts )
                                    #if( $discount.discountType != 'DISCOUNT_FREE_ITEM' )
                                    <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;">$stringTool.escape($discount.title): -&#163;$numberTool.format("#0.00", $discount.discountAmount)</div>
                                    #end
                                #end
                            </div>
                        </div>
                        #end


                        <div style="margin-bottom:15px;">
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:5px;"><b>Total price: &#163;$numberTool.format("#0.00", $order.restaurantCost)</b></div>
                        </div>
                    </td>
                    <td width="20">&nbsp;</td>
                    <td width="230">
                        <img src="butler-image" width="230" height="300" alt="A picture of the butler"/>
                    </td>
                </tr>
                <tr valign="top">
                    <td width=550" colspan="3">
                        <div style="margin-bottom:15px;">
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;"><b>Customer:</b> $stringTool.escape($order.customer.firstName) $stringTool.escape($order.customer.lastName)</div>
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;"><b>Telephone:</b> ${order.customer.telephone}</div>
                        </div>
                        <div style="margin-bottom:15px;">
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:5px;"><b>Please use the links below to accept or reject this order.</b></div>
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:5px;">
                                <a href="${baseUrl}/secure/workflow/confirmOrder.html?curl=$acceptCurl">Accept</a> | <a href="${baseUrl}/secure/workflow/confirmOrder.html?curl=$declineCurl">Decline</a>
                            </div>
                        </div>
                        <div style="margin-bottom:15px;">
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:10px;"><b>
                                #if($order.deliveryType == 'DELIVERY')
                                    Your standard delivery time is $order.restaurant.deliveryTimeMinutes minutes, click below to add additional time beyond your standard delivery time for this order.
                                #else
                                    Your standard collection time is $order.restaurant.collectionTimeMinutes minutes, click below to add additional time beyond your standard collection time for this order.
                                #end
                            </b></div>
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:10px;"><a href="${baseUrl}/secure/workflow/confirmOrder.html?curl=$acceptWithDeliveryCurl&minutes=15">+15 minutes</a></div>
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:10px;"><a href="${baseUrl}/secure/workflow/confirmOrder.html?curl=$acceptWithDeliveryCurl&minutes=30">+30 minutes</a></div>
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:10px;"><a href="${baseUrl}/secure/workflow/confirmOrder.html?curl=$acceptWithDeliveryCurl&minutes=45">+45 minutes</a></div>
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:10px;"><a href="${baseUrl}/secure/workflow/confirmOrder.html?curl=$acceptWithDeliveryCurl&minutes=60">+60 minutes</a></div>
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:10px;"><a href="${baseUrl}/secure/workflow/confirmOrder.html?curl=$acceptWithDeliveryCurl&minutes=90">+90 minutes</a></div>
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal; margin-bottom:10px;"><a href="${baseUrl}/secure/workflow/confirmOrder.html?curl=$acceptWithDeliveryCurl&minutes=120">+120 minutes</a></div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>

</html>
