<settings>
    <profiles>
        <profile>
            <id>standard-extra-repos</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>ibiblio</id>
                    <url>http://www.ibiblio.org/maven/mule/dependencies/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>jboss</id>
                    <url>https://repository.jboss.org</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>com.springsource.repository.bundles.release</id>
                    <name>SpringSource Enterprise Bundle Repository - SpringSource Bundle Releases</name>
                    <url>http://repository.springsource.com/maven/bundles/release</url>
                </repository>
                <repository>
                    <id>com.springsource.repository.bundles.external</id>
                    <name>SpringSource Enterprise Bundle Repository - External Bundle Releases</name>
                    <url>http://repository.springsource.com/maven/bundles/external</url>
                </repository>
                <repository>
                    <id>codehaus</id>
                    <name>Maven Codehaus repository</name>
                    <url>http://repository.codehaus.org/</url>
                </repository>
                <repository>
                    <id>atlassian-public</id>
                    <url>https://maven.atlassian.com/repository/public</url>
                </repository>
                <repository>
                    <id>fnh</id>
                    <url>http://fna.googlecode.com/svn/trunk/fna/fna_m2_repository</url>
                </repository>
                <repository>
                    <id>spring-milestone</id>
                    <name>Spring Portfolio Milestone Repository</name>
                    <url>http://maven.springframework.org/milestone</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>repo2</id>
                    <url>http://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>nuxeo</id>
                    <url>https://maven.nuxeo.org/nexus/content/groups/public</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>apache-plugins</id>
                    <url>http://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>jboss-plugins</id>
                    <url>http://repository.jboss.com/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>atlassian-public</id>
                    <url>https://maven.atlassian.com/repository/public</url>
                </pluginRepository>
                <pluginRepository>
                    <id>jboss-snapshot-plugins</id>
                    <url>http://snapshots.jboss.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
