<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%t] | %d{ISO8601} | %F | %L | %m%n"/>
        </layout>
    </appender>

    <!-- Send all error logs to email address -->
    <appender name="MAIL" class="org.apache.log4j.net.SMTPAppender">
        <param name="SMTPHost" value="email-smtp.us-east-1.amazonaws.com" />
        <param name="SMTPUsername" value="AKIAJ26L6IFSXMZRPXLA" />
        <param name="SMTPPassword" value="AmdyjQ1ymi5roMzbzgphBIbl36v2vdKin5Hsbb3RjmGL" />
        <param name="From" value="noreply@llamarycomer.com" />
        <param name="To" value="system@llamarycomer.com" />
        <param name="Subject" value="Application Error" />
        <!-- send only Errors per email -->
        <param name="threshold" value="error" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p [%t] | %d{ISO8601} | %F | %L | %m%n"/>
        </layout>
    </appender>

    <logger name="com.ezar">
        <level value="DEBUG"/>
    </logger>

    <logger name="com.ovea">
        <level value="INFO"/>
    </logger>

    <logger name="com.ezar.clickandeat.web.security.SimpleSecurityContextRepository">
        <level value="INFO"/>
    </logger>

    <logger name="org.eclipse.jetty.server.session">
        <level value="INFO"/>
    </logger>

    <logger name="org.springframework">
        <level value="ERROR"/>
    </logger>

    <logger name="org.springframework.security">
        <level value="ERROR"/>
    </logger>

    <logger name="org.quartz">
        <level value="INFO"/>
    </logger>
    
    <logger name="redis">
        <level value="INFO"/>
    </logger>

    <logger name="com.mongodb">
        <level value="INFO"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="MAIL"/>
    </root>

</log4j:configuration>