<?xml version="1.0" encoding="UTF-8"?>
<Response>
    <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">Gracias por aceptar el pedido un tiempo de
    #if($order.deliveryType == 'DELIVERY')
        entrega
    #else
        recogida
    #end
     de $DeliveryMinutes minutos.
    </Say>
</Response>