<?xml version="1.0" encoding="UTF-8"?>
<Response>
    <Gather action="$url" finishOnKey="#">
        #if($error)
            <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">Lo siento, no entend&#237; la respuesta</Say>
        #end

        #if($order.deliveryType == 'DELIVERY')
            <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">Tiene un pedido para entregar en la direccion $stringTool.escapeXml($order.deliveryAddress.summary)
            #if($order.expectedDeliveryTime)
                A las $stringTool.formatDate($order.expectedDeliveryTime)
                #if(!($order.expectedDeliveryTime.toLocalDate() == $today))
                    el $order.expectedDeliveryTime.dayOfWeek().getAsText($locale)
                #end
            #else
                Lo m&#225;s pronto posible
            #end
            </Say>
            <Pause length="1"/>
        #else
            <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">Tienes un pedido para recoger
            #if($order.expectedCollectionTime)
                A las $stringTool.formatDate($order.expectedCollectionTime)
                #if(!($order.expectedCollectionTime.toLocalDate() == $today))
                    el $order.expectedCollectionTime.dayOfWeek().getAsText($locale)
                #end
            #else
                Cuanto antes
            #end
            </Say>
            <Pause length="1"/>
        #end
        <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">El pedido es el siguiente.</Say>
        #foreach( $item in $order.orderItems )
            <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">$item.quantity de
            #if( $item.menuItemNumber && $item.menuItemNumber != 0 )
                n&#250;mero $item.menuItemNumber
            #else
                $stringTool.escapeXml($item.menuItemTitle)
            #end
            #if( $stringTool.hasText($item.menuItemTypeName ))
                $stringTool.escapeXml($item.menuItemTypeName)
            #end
            #if( $stringTool.hasText($item.menuItemSubTypeName ))
                $stringTool.escapeXml($item.menuItemSubTypeName)
            #end
            #if( $item.additionalItems.size() > 0 )
                con
                #foreach( $additionalItem in $item.additionalItems )
                    #if( $item.additionalItems.size() > 1 && $velocityCount == $item.additionalItems.size())
                        y
                    #end
                    $stringTool.escapeXml($additionalItem).
                #end
            #end
            </Say>
            <Pause length="2"/>
        #end

        #foreach( $discount in $order.orderDiscounts )
            #if( $discount.discountType == 'DISCOUNT_FREE_ITEM' && $stringTool.hasText($discount.selectedFreeItem ))
                <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">Uno $stringTool.escapeXml($discount.selectedFreeItem) gratis.</Say>
                <Pause length="2"/>
            #end
        #end

        #if($stringTool.hasText($order.additionalInstructions))
            <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">El cliente ha añadido las siguientes instrucciones a este pedido.</Say>
            <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">$stringTool.escapeXml($order.additionalInstructions).</Say>
            <Pause length="2"/>
        #end
        <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">Para aceptar el pedido pulsa el uno seguido de la tecla de almohadilla, para rechazar el pedido pulsa el dos seguido de la tecla de almohadilla, para aceptar este pedido y especificar un tiempo de entrega pulsa tres seguido del numero de minutos y a continuaci&#243;n pulsa la tecla de almohadilla. Para repetir este mensaje pulsa cuatro seguido de la tecla de almohadilla. Si no quieres aceptar ni rechazar este pedido ahora mismo pulsa la tecla cinco seguido de la tecla de almohadilla.</Say>
    </Gather>
</Response>
