<?xml version="1.0" encoding="UTF-8"?>
<Response>
    <Gather action="$url" finishOnKey="#">
        #if($error)
            <Say language="es">Lo siento, no entend&#237; la respuesta</Say>
        #end

        #if($order.deliveryType == 'DELIVERY')
            <Say language="es">Tiene un pedido para entregar en la direcci&#243;n $stringTool.escape($order.deliveryAddress.summary)
            #if($order.expectedDeliveryTime)
                A las $order.expectedDeliveryTime.hourOfDay $order.expectedDeliveryTime.minuteOfHour
                #if(!($order.expectedDeliveryTime.toLocalDate() == $today))
                    el $order.expectedDeliveryTime.monthOfYear().getAsText($locale) $order.expectedDeliveryTime.dayOfMonth
                #end
            #else
                Lo m&#225;s pronto posible
            #end
            </Say>
        #else
            <Say language="es">Tienes un pedido para ser recogido
            #if($order.expectedCollectionTime)
                A las $order.expectedCollectionTime.hourOfDay $order.expectedCollectionTime.minuteOfHour.
                #if(!($order.expectedCollectionTime.toLocalDate() == $today))
                    el $order.expectedCollectionTime.monthOfYear().getAsText($locale) $order.expectedCollectionTime.dayOfMonth
                #end
            #else
                Lo m&#225;s pronto posible
            #end
            </Say>
        #end
        <Say language="es">El pedido es el siguiente.</Say>
        #foreach( $item in $order.orderItems )
            <Say language="es">$item.quantity de
            #if( $item.menuItemNumber && $item.menuItemNumber != 0 )
                numero $item.menuItemNumber
            #else
                $stringTool.escape($item.menuItemTitle)
            #end
            #if( $stringTool.hasText($item.menuItemTypeName ))
                $stringTool.escape($item.menuItemTypeName)
            #end
            #if( $item.additionalItems.size() > 0 )
                con
                #foreach( $additionalItem in $item.additionalItems )
                    #if( $item.additionalItems.size() > 1 && $velocityCount == $item.additionalItems.size())
                        y
                    #end
                    $stringTool.escape($additionalItem)
                #end
            #end
            </Say>
        #end

        #foreach( $discount in $order.orderDiscounts )
            #if( $discount.discountType == 'DISCOUNT_FREE_ITEM' && $stringTool.hasText($discount.selectedFreeItem ))
                <Say language="es">1 libre $stringTool.escape($discount.selectedFreeItem)</Say>
            #end
        #end

        #if($stringTool.hasText($order.additionalInstructions))
            <Say language="es">El cliente ha añadido las siguientes instrucciones a este pedido.</Say>
            <Say>$stringTool.escape($order.additionalInstructions)</Say>
        #end
        <Say language="es">Para aceptar el pedido pulsa el 1 seguido de la tecla de almohadilla, para rechazar el pedido pulsa el 2 seguido de la tecla de almohadilla, para aceptar este pedido y especificar un tiempo de entrega pulsa 3 seguido del numero de minutos y a continuaci&#243;n pulsa la tecla de almohadilla. Para repetir este mensaje pulsa 4 seguido de la tecla de almohadilla. Si no quieres aceptar ni rechazar este pedido ahora mismo pulsa la tecla 5 seguido de la tecla de almohadilla.</Say>
    </Gather>
</Response>
