<?xml version="1.0" encoding="UTF-8"?>
<Response>
    <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">Gracias por tu respuesta. No te olvides de comprobar tu correo electronico.</Say>
</Response>