<?xml version="1.0" encoding="UTF-8"?>
<Response>
    <Gather action="$url" timeout="10" numDigits="1">
        <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">Hola, esta es una llamada de $stringTool.getMessage("title.companyname").
         Ha recibido un nuevo pedido para
        #if($order.deliveryType == 'DELIVERY')
            entregar.
        #else
            recoger.
        #end
        Pedido numero $twilioTool.getOrderId($order.orderId)</Say>
        <Pause length="1"/>
        <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">Para escuchar el pedido completo pulse cualquier tecla en el telefono. Otra alternativa es colgar y ver los detalles del pedido en su correo electronico.</Say>
    </Gather>
</Response>
