<?xml version="1.0" encoding="UTF-8"?>
<Response>
    <Gather action="$url" finishOnKey="#">
        <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">Pedido numero $twilioTool.getOrderId($order.orderId)</Say>
        <Pause length="1"/>
        <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">Para $stringTool.escapeXml($order.customer.firstName)</Say>
        <Pause length="1"/>
        <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">Telefono $twilioTool.getDigits($order.customer.telephone, ' . ')</Say>
        <Pause length="1"/>


        <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">El pedido es el siguiente.</Say>
        #foreach( $item in $order.orderItems )
            #if( $item.quantity == 1 )
                <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')"> un </Say>
            #else
                <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">$item.quantity , </Say>
            #end
            #if( $item.menuItemNumber && $item.menuItemNumber != 0 )
                <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">numero $item.menuItemNumber</Say>
                <Pause length="$stringTool.getMessage('twilio.pause-after-item-number')"/>
            #else
                <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">$stringTool.escapeXml($item.menuItemTitle)</Say>
                <Pause length="$twilioTool.getPauseValue($item.menuItemTitle)"/>
            #end
            #if( $stringTool.hasText($item.menuItemTypeName ))
                <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">$stringTool.escapeXml($item.menuItemTypeName)</Say>
                <Pause length="$twilioTool.getPauseValue($item.menuItemTypeName)"/>
            #end

            #if( $stringTool.hasText($item.menuItemSubTypeName ))
                <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">$stringTool.escapeXml($item.menuItemSubTypeName)</Say>
                <Pause length="$twilioTool.getPauseValue($item.menuItemSubTypeName)"/>
            #end


            #if( $item.additionalItems.size() > 0 )
                <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">con</Say>
                #foreach( $additionalItem in $item.additionalItems )
                    #if( $item.additionalItems.size() > 1 && $velocityCount == $item.additionalItems.size())
                        <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">y</Say>
                    #end
                    <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">$stringTool.escapeXml($additionalItem).</Say>
                    <Pause length="$twilioTool.getPauseValue($additionalItem)"/>
                #end
            #end
        #end

        #foreach( $discount in $order.orderDiscounts )
            #if( $discount.discountType == 'DISCOUNT_FREE_ITEM' && $stringTool.hasText($discount.selectedFreeItem ))
                <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">Uno $stringTool.escapeXml($discount.selectedFreeItem) gratis.</Say>
                <Pause length="$twilioTool.getPauseValue($discount.selectedFreeItem)"/>
            #end
        #end

        #if($stringTool.hasText($order.additionalInstructions))
            <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')" loop="2">El cliente ha añadido las siguientes instrucciones a este pedido.
            $stringTool.escapeXml($order.additionalInstructions).</Say>
            <Pause length="$twilioTool.getPauseValue($order.additionalInstructions)"/>
        #end

        <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">
            Pulsa zero y almohadilla para rechazar el pedido.
            Pulsa uno y almohadilla para escuchar los detalles del pedido.
            Pulsa dos y almohadilla para escuchar la direccion de entrega.
            Pulsa tres y almohadilla para aceptar el pedido.
            Pulse cuatro seguido del numero de minutos y almohadilla para aceptar el pedido y especificar un tiempo de entrega.
            Pulsa cinco y almohadilla para aceptar o rechazar el pedido usando el correo electronico
        </Say>

    </Gather>
</Response>