<?xml version="1.0" encoding="UTF-8"?>
<Response>
    <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">$error</Say>
    <Say language="es" voice="$stringTool.getMessage('twilio.voice-gender')">Por favor mira tu correo electronico para obtener mas informacion.</Say>
</Response>