<html>

<head>
</head>

<body>

<h1>Confirmation of your order from ClickAndEat</h1>

<h2>Order id: ${order.orderId}</h2>

<div>Your order has been passed to $stringTool.removeQuotes($order.restaurant.name). You will shortly receive an email confirming if $stringTool.removeQuotes($order.restaurant.name)
has accepted your order.</div>
<div>In the unlikely event that the restaurant is not able to fulfil your order you will receive an email to let you know and you will not be charged for the order.
If you have provided a mobile number with your order you will receive an SMS message if your order is declined.</div>

<h3>Details of order</h3>

#foreach( $item in $order.orderItems )
    #if( $item.menuItemNumber && $item.menuItemNumber != 0 )
        <div>
            $item.quantity x ($item.menuItemNumber) $stringTool.removeQuotes($item.menuItemTitle)
            #if( $stringTool.hasText($item.menuItemTypeName ))
                ($stringTool.removeQuotes($item.menuItemTypeName))
            #end
        </div>
    #else
        <div>
            $item.quantity x $stringTool.removeQuotes($item.menuItemTitle)
            #if( $stringTool.hasText($item.menuItemTypeName ))
                ($stringTool.removeQuotes($item.menuItemTypeName))
            #end
        </div>
    #end
    #if( $item.additionalItems.size() > 0 )
        #foreach( $additionalItem in $item.additionalItems )
            <div>- $stringTool.unescape($additionalItem)</div>
        #end
    #end
#end

#foreach( $discount in $order.orderDiscounts )
    #if( $discount.discountType == 'DISCOUNT_FREE_ITEM' && $stringTool.hasText($discount.selectedFreeItem ))
        <div>1 x $stringTool.unescape($discount.selectedFreeItem) (free)</div>
    #end
#end

#if( $stringTool.hasText($order.additionalInstructions))
    <h3>Additional instructions</h3>
    <div>$stringTool.unescape($order.additionalInstructions)</div>
#end

#if( $order.hasCashDiscount() )
    <h3>Discounts applied to order</h3>
#end

#foreach( $discount in $order.orderDiscounts )
    #if( $discount.discountType != 'DISCOUNT_FREE_ITEM' )
        <div>$stringTool.unescape($discount.title): -&#163;$numberTool.format("#0.00", $discount.discountAmount)</div>
    #end
#end

<h3>Item cost: &#163;$numberTool.format("#0.00", $order.orderItemCost)</h3>

#if( $order.totalDiscount > 0 )
    <h3>Total discounts: &#163;$numberTool.format("#0.00", $order.totalDiscount)</h3>
#end

#if( $order.deliveryCost > 0 )
    <h3>Delivery charge: &#163;$numberTool.format("#0.00", $order.deliveryCost)</h3>
#end

<h3>Total cost: &#163;$numberTool.format("#0.00", $order.totalCost)</h3>

</body>


</html>