<html>

<head>
</head>

<body>

<h1>¿Deseas cancelar el pedido ${order.orderId}?</h1>

<div>Lo sentimos pero en este momento el restaurante $stringTool.escape($order.restaurant.name) esta muy ocupado y no ha tenido la oportunidad de atender tu pedido.</div>
<div>Si deseas cancelar el pedido, haz clic en el enlace de abajo.</div>

<div>
    <a href="${baseUrl}/secure/workflow/customerCancelOrder.html?curl=$cancelCurl">Cancelar el pedido</a>
</div>


</body>


</html>