<html>

<head>
</head>

<body>

<h1>Confirmación de tu pedido con LlamarYComer</h1>

<h2>Numero del pedido: ${order.orderId}</h2>

<div>Tu pedido ha sido comunicado al restaurante $stringTool.escape($order.restaurant.name).  Pronto recibirás un correo electrónico confirmando si el restaurante $stringTool.escape($order.restaurant.name) ha aceptado tu pedido.</div>
<div>En el caso improbable de que el restaurante no sea capaz de llevar a cabo tu pedido recibirás un correo electrónico de notificación y por supuesto no se efectuara ningún cargo a tu tarjeta.
Si has proporcionado un teléfono móvil con tu pedido recibiras un SMS si tu pedido es rechazado.</div>

<h3>Datos del pedido</h3>

#foreach( $item in $order.orderItems )
    #if( $item.menuItemNumber && $item.menuItemNumber != 0 )
        <div>
            $item.quantity x ($item.menuItemNumber) $stringTool.escape($item.menuItemTitle)
            #if( $stringTool.hasText($item.menuItemTypeName ))
                ($stringTool.escape($item.menuItemTypeName))
            #end
            #if( $stringTool.hasText($item.menuItemSubTypeName ))
                ($stringTool.escape($item.menuItemSubTypeName))
            #end
        </div>
    #else
        <div>
            $item.quantity x $stringTool.escape($item.menuItemTitle)
            #if( $stringTool.hasText($item.menuItemTypeName ))
                ($stringTool.escape($item.menuItemTypeName))
            #end
            #if( $stringTool.hasText($item.menuItemSubTypeName ))
                ($stringTool.escape($item.menuItemSubTypeName))
            #end
        </div>
    #end
    #if( $item.additionalItems.size() > 0 )
        #foreach( $additionalItem in $item.additionalItems )
            <div>- $stringTool.escape($additionalItem)</div>
        #end
    #end
#end

#foreach( $discount in $order.orderDiscounts )
    #if( $discount.discountType == 'DISCOUNT_FREE_ITEM' && $stringTool.hasText($discount.selectedFreeItem ))
        <div>1 x $stringTool.escape($discount.selectedFreeItem) (free)</div>
    #end
#end

#if( $stringTool.hasText($order.additionalInstructions))
    <h3>Instrucciones adicionales</h3>
    <div>$stringTool.escape($order.additionalInstructions,true)</div>
#end

#if( $order.hasCashDiscount() )
    <h3>Descuentos aplicados al pedido</h3>
#end

#foreach( $discount in $order.orderDiscounts )
    #if( $discount.discountType != 'DISCOUNT_FREE_ITEM' )
        <div>$stringTool.escape($discount.title): -&#163;$numberTool.format("#0.00", $discount.discountAmount)</div>
    #end
#end

<h3>Precio del plato: &#163;$numberTool.format("#0.00", $order.orderItemCost)</h3>

#if( $order.totalDiscount > 0 )
    <h3>Total descuentos: &#163;$numberTool.format("#0.00", $order.totalDiscount)</h3>
#end

#if( $order.deliveryCost > 0 )
    <h3>Costes de envio: &#163;$numberTool.format("#0.00", $order.deliveryCost)</h3>
#end

<h3>Coste Total: &#163;$numberTool.format("#0.00", $order.totalCost)</h3>

</body>


</html>