<!-- SPANISH -->
<html>

<body style="background-color:#FFFFFF;">

<table width="580" cellpadding="0" cellspacing="0" border="1" border-color="#CCCCCC">
    <tr>
        <td width="580" align="center">
            <table width="550">
                <tr valign="top">
                    <td width="550" colspan="3">
                        <div style="margin-top:15px;">
                            <img src="http://clickandeat.s3-external-3.amazonaws.com/resources/images/email/header.jpg" width="550" height="54"/>
                        </div>
                    </td>
                </tr>
                <tr valign="top">
                    <td width="550" colspan="3">
                        <h1 style="font:16px/18px tahoma,verdana,arial,sans-serif; color:#AA0000; font-weight:bold;margin:0;margin-top:15px;">Solicitud de aprobaci&#243;n del contenido de tu restaurante</h1>
                    </td>
                </tr>
                <tr valign="top">
                    <td width="300">
                        <div style="margin-bottom:15px;">
                            <div style="font:12px/14px tahoma,verdana,arial,sans-serif; font-weight:normal;">
                            <p>El contenido de la p&#225;gina de tu restaurante ha sido actualizado. Por favor, utiliza el <a href="${baseUrl}/approval/restaurant/approveContent.html?${restCurl}" style="font-weight:bolder;color: red; ">este enlace</a>
                            para validar los cambios y confirmar que la informaci&#243;n es correcta. Presta especial atenci&#243;n a los siguiente elementos:</p>
                             <p>
                               <ul>
                               <li>Horarios de apertura</li>
                               <li>Gastos de entrega</li>
                               <li>Todas las categor&#237;as del menu</li>
                               <li>Todos los precios</li>
                               <li>Ofertas especiales</li>
                               <li>etc.</li>
                               </ul>
                            </p>
                            <p> Utiliza los botones en la barra de herramientas para aprobar o rechazar el contenido, verificar la
                            llamada o eliminar el pedido de prueba. No dudes en ponerte en contacto con nosotros enviando un mail
                            a restaurante@llamarycomer.com si tienes alguna pregunta o el contenido en la p&#225;gina no es correcto.
                            </p>
                            <p>
                               <b>Tu restaurante est&#225; temporalmente fuera de l&#237;nea en nuestra p&#225;gina web. Una vez
                               recibamos la confirmaci&#243;n del contenido por tu parte, el restaurante ser&#225; publicado en
                               nuestra p&#225;gina web.
                               </b>
                             </p>
                             </div>
                        </div>
                    </td>
                    <td width="20">&nbsp;</td>
                    <td width="230">
                        <img src="http://clickandeat.s3-external-3.amazonaws.com/resources/images/email/apology.jpg" width="230" height="300"/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>

</html>