<html>

<head>
</head>

<body>

<h1>El restaurante ha aceptado tu pedido $order.orderId</h1>

#if( $order.deliveryType == 'DELIVERY' )
    <div>Tiempo estimado de entrega:
        $stringTool.formatDate($order.setRestaurantConfirmedTime)
        #if(!($order.setRestaurantConfirmedTime.toLocalDate() == $today))
            on $order.setRestaurantConfirmedTime.dayOfWeek().getAsText($locale)
        #end
    </div>
#else
    <div>Hora para recoger:
        $stringTool.formatDate($order.setRestaurantConfirmedTime)
        #if(!($order.setRestaurantConfirmedTime.toLocalDate() == $today))
            on $order.setRestaurantConfirmedTime.dayOfWeek().getAsText($locale)
        #end
    </div>
#end

#if ($allowCancel)
    <div>En el caso de que no quieras esperar tanto tiempo para recibir tu pedido, haz clic en el siguiente enlace para cancelar el pedido.</div>
    <div>Tienes hasta las $stringTool.formatDate($cancelCutoffTime)
    #if(!($cancelCutoffTime.toLocalDate() == $today))
        del $cancelCutoffTime.dayOfWeek().getAsText($locale)
    #end
    para cancelar el pedido.</div>
    <div>
        <a href="${baseUrl}/secure/workflow/customerCancelOrder.html?curl=$cancelCurl">Cancel order</a>
    </div>
#end

</body>


</html>